:root {
  --f7-photobrowser-caption-font-size: 13px;
  --f7-photobrowser-caption-font-weight: 500;
  --f7-photobrowser-exposed-bg-color: #000;

  .light-vars({
    --f7-photobrowser-bg-color: #fff;
    --f7-photobrowser-caption-text-color: #000;
  });
  .dark-vars({
    --f7-photobrowser-bg-color: #000;
    --f7-photobrowser-caption-text-color: #fff;
  });
}
