:root {
  --f7-timeline-horizontal-date-height: 34px;
  --f7-timeline-year-height: 24px;
  --f7-timeline-month-height: 24px;
  --f7-timeline-item-inner-bg-color: #fff;
  .theme-dark, &.theme-dark {
    --f7-timeline-item-inner-bg-color: #1c1c1d;
  }
}
.ios {
  --f7-timeline-padding-horizontal: 15px;
  --f7-timeline-margin-vertical: 35px;
  --f7-timeline-divider-margin-horizontal: 15px;
  --f7-timeline-inner-block-margin-vertical: 15px;
  --f7-timeline-item-inner-border-radius: 7px;
  --f7-timeline-item-inner-box-shadow: none;
  --f7-timeline-item-time-font-size: 13px;
  --f7-timeline-item-time-text-color: #6d6d72;
  --f7-timeline-item-title-font-size: 17px;
  --f7-timeline-item-title-font-weight: 600;
  --f7-timeline-item-subtitle-font-size: 15px;
  --f7-timeline-item-subtitle-font-weight: inherit;
  --f7-timeline-horizontal-item-padding: 10px;
  --f7-timeline-horizontal-item-border-color: #c4c4c4;
  --f7-timeline-horizontal-item-date-border-color: #c4c4c4;
  --f7-timeline-horizontal-item-date-shadow-image: none;
  .theme-dark, &.theme-dark {
    --f7-timeline-item-time-text-color: #8E8E93;
  }
}
.md {
  --f7-timeline-padding-horizontal: 16px;
  --f7-timeline-margin-vertical: 32px;
  --f7-timeline-divider-margin-horizontal: 16px;
  --f7-timeline-inner-block-margin-vertical: 16px;
  --f7-timeline-item-inner-border-radius: 4px;
  --f7-timeline-item-inner-box-shadow: var(--f7-elevation-1);
  --f7-timeline-item-time-font-size: 13px;
  --f7-timeline-item-time-text-color: rgba(0, 0, 0, 0.54);
  --f7-timeline-item-title-font-size: 16px;
  --f7-timeline-item-title-font-weight: 400;
  --f7-timeline-item-subtitle-font-size: inherit;
  --f7-timeline-item-subtitle-font-weight: inherit;
  --f7-timeline-horizontal-item-padding: 12px;
  --f7-timeline-horizontal-item-border-color: rgba(0,0,0,.12);
  --f7-timeline-horizontal-item-date-border-color: transparent;
  --f7-timeline-horizontal-item-date-shadow-image: var(--f7-bars-shadow-bottom-image);
  .theme-dark, &.theme-dark {
    --f7-timeline-item-time-text-color: rgba(255,255,255,0.54);
  }
}