.ios {
  .sheet-modal {
    box-shadow: var(--f7-glass-shadow);
    .ios-glass-backdrop();
    .toolbar {
      position: absolute;
    }
  }
  &:not(.device-ios) .sheet-modal .toolbar::before {
    display: none;
  }
}
