.md {
  .picker-popover {
    .toolbar {
      .hairline-remove(top);
    }
    .toolbar + .picker-columns {
      height: calc(100% - var(--f7-toolbar-height));
    }
  }

  .picker-center-highlight {
    left: 0;
    right: 0;
    border-top: 1px solid var(--f7-md-outline);
    border-bottom: 1px solid var(--f7-md-outline);
  }
}
