:root {

}
.ios {
  --f7-page-bg-color: #efeff4;
  --f7-page-transition-duration: 400ms;
  --f7-page-swipeback-transition-duration: 400ms;
}
.md {
  --f7-page-bg-color: #fff;
  --f7-page-transition-duration: 250ms;
  --f7-page-swipeback-transition-duration: 400ms;
}
.theme-dark {
  --f7-page-bg-color: #171717;
}