.md {
  @import (multiple) '../../less/colors-md.less';
  .list {
    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="time"],
    input[type="number"],
    select {
      height: 36px;
      color: #212121;
      font-size: 16px;
      &::-webkit-input-placeholder {
        color: rgba(0,0,0,0.35);
      }
    }
    textarea {
      color: #212121;
      font-size: 16px;
      padding-top: 7px;
      padding-bottom: 7px;
      &.resizable {
        height: 36px;
      }
      &::-webkit-input-placeholder {
        color: rgba(0,0,0,0.35);
      }
    }
  }
  .item-input-wrap {
    min-height: 36px;
    &:after {
      transition-duration: 200ms;
    }
    input + ::after {
      background: red;
    }
  }
  .hairline-root('.item-input-wrap', bottom, rgba(0, 0, 0, 0.12));
  .item-label, .item-floating-label {
    font-size: 12px;
    width: 100%;
    color: rgba(0,0,0,.65);
    transition-duration: 200ms;
    line-height: 1;
    transition-property: transform, color;
  }
  .item-floating-label {
    transform-origin: left;
    transform: scale(16/12) translateY(21px);
    color: rgba(0,0,0,0.35);
    width: auto;
    max-width: 75%;
    pointer-events: none;
    ~ .item-input-wrap input::-webkit-input-placeholder {
      color: transparent;
    }
  }
  .item-input-with-value .item-floating-label, .item-input-focused .item-floating-label {
    transform: scale(1) translateY(0);
  }
  .item-input {
    .item-media {
      align-self: flex-end;
    }
    .item-inner {
      display: block;
      .hairline-remove(bottom);
    }
  }
  .item-input-with-error-message, .item-input-with-info {
    padding-bottom: 20px;
  }
  .item-input-error-message, .item-input-info {
    font-size: 12px;
    line-height: 1.4;
    position: absolute;
    top: 100%;
    left: 0;
    right: 16px;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .item-input-info {
    color: rgba(0,0,0,.45);
  }
  .item-input-error-message {
    color: @red;
    display: none;
  }
  .item-input-focused {
    .item-title {
      color: @themeColor;
    }
    .item-input-wrap:after {
      background: @themeColor;
    }
  }
  .item-input-invalid {
    .item-title {
      color: @red;
    }
    .item-input-wrap:after {
      background: @red;
    }
    .item-input-error-message {
      display: block;
    }
    .item-input-info {
      display: none;
    }
  }
  .item-input-invalid, .item-input-focused {
    .item-input-wrap:after {
      transform: scaleY(2);
    }
  }
}
