@import url('./app-vars.less');
// Core Icons
@font-face {
  @fontBase64: 'd09GRgABAAAAAAucABAAAAAAFdQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAALgAAAABoAAAAchIYOv0dERUYAAAmwAAAAIwAAACQAdwBXR1BPUwAAC1AAAAAuAAAANuAY7+xHU1VCAAAJ1AAAAXsAAANI9IT86E9TLzIAAAHcAAAASgAAAGBRKF+WY21hcAAAAnQAAACIAAABYt6F0cBjdnQgAAAC/AAAAAQAAAAEABEBRGdhc3AAAAmoAAAACAAAAAj//wADZ2x5ZgAAA4gAAAOZAAAITCn3I+5oZWFkAAABbAAAADAAAAA2E+w+42hoZWEAAAGcAAAAIAAAACQHggM3aG10eAAAAigAAABMAAABDCk9AApsb2NhAAADAAAAAIgAAACIN4I51G1heHAAAAG8AAAAHwAAACAAiQBLbmFtZQAAByQAAAFTAAAC3ERIi9Vwb3N0AAAIeAAAAS4AAAH92CB3HXjaY2BkYGAAYtXVFg3x/DZfGbiZGEDghtl/Yxj9/+e/XpY0ps9ALgcDWBoAQUAMo3jaY2BkYGD6/K+XQY8l7f9PBgaWNAagCApwBgCRZgXAeNpjYGRgYHBmkGJgYQABJiBmZACJOTDogQQADRYA1QB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPabPjMUwNYwHwEoUGMQAQ7UMZAAAeNpj2M0gyAACqxgGNWAMAGIdID4A5OwD0rOA+BBI7P9PhuNAMSBmSYOK+wLxWSCWAGI3CGZKg/KBNBNIjTHEHKazED1MQD4AiKAPYnjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIB3gIAAioCPAJSAmQChAKUAqQC1gLsAv4DEAMiAzQDRANqA3wDlgOqA7wDzgP2BAwEJnja7VTPaxtHFH7fyNLGCFuWrF/tpZa82nVpcYhW0qZUrgWKezAtDcHuwZdYJeiUQ0yIe5N8LAGhHhyMRW6GHNqTZdOeKqu9KBc1oFMpPqlQh0JOPgXiVd/MaoOT/gclMLNv5pu3b7753pshQWEi2sc6+UijxUPQ1WJbm6AX2cOA/7TY9gke0qFPwn4Jt7UAXhXbkLgVtsKmFZ4Pf/dttYp158cwLI4Gbl3VeRS+JsfvsHfY/x4TlzAfo58IBdME90ncxAbfsBDFKEEUSQei8WwhZ2Tj0UDayPltM4SEbf6wViyuFR/fXV29u4ry1L3p6a3pLZSKa0tLa1+vSvjl9L0pCbocRr/C4k0iRJl0SMhIyzCNXCH7AeIwAfwVnIsHT06C8VRwGGoLMQzG54KdE4kOQy7n0Rm6eMLvwHscJaGZeTMwn5Yx4rGolkhLlswWpR1jR1tcXqlUHn6zoP20eePGZrmxY9Rj2kLlYaWy8tmiVt4slzcVLzKow+f1E81qHNLubG/rrRYKytCY+zlaaNAV3jWWkk4JDS3naVPv9/XmnznXjn1pCr/hjoxnIwHTbiKkO/2mvj62hNFL1uIj1oLfM7uwDKYfZUmlvFdh+MEn5zN3OvL8w9Az+IZSE567Ssg9otRzOdtMxrR7B3q9rv/M31rmzfU8U01o4+VMra4rHZ3GRFWcU1DmN2OyQ8LmjNqmmNPFTESfm4jMCFHqFXpe+9T53bnY24MPWfj29v7p2d6S/er0NexcSLf/aiYF4/fXRkvqZH3flQbXWUBPsxK+RIkCPElo19gbH+qnWzpjbOa/UJxpA30Y6u2nJaRi/nwqhr5joX9uWfuWpfbsIsm68rkzkLogOaLk8+fJrmvcvW7jc44j882Z1MwDJQ4MZTw+r304CGvj+tw+0Gs1XdVhQ1RxzkxmiXIznL+ZQBocy1Py2Dk+dmj0frXqtRLo6GhER9i/BNKbnPOQuQIlz86SXYwZezVVxX3OF0FTpBUtVJtN3Wv46tJE/uN0RUt0paY2a29N4u/+mdN1njSEdaFk82Kv8L00lPZKehvWszuRW78gqszbd0RWv8k3Q3/wABtstrdpfDc3RF8YNMmvhtTEkqLMp2cvVddg99Fg8Gh3t1aocavL78dYGAycPwZ4XLdrNbuuvm/Xj9ozlU+ZfVk3zlNcb6IhhzlVPz7JT1jMT9YGaxTOu9Uhuzys22HkcjuqEf0LOMqq8QAAAHjarZC/bsIwGMTP/JPaoepQpI4eAZHIyQJipWJhqTpkj0IKFiRGJhJCfZwO3bp36FN0rNQn6EP0YlypA0MHojj+5XyffZ8BXOEVAsenhwfPAl28eG7gEh+em4jFnecWuuLZcxvX4tNzB93GLZ2idcG/e1dVs8AAT54buMG75yYW+PLcwkDsPbchxZvnDvVvTGGwxQEWGkusUEEyc4Y+5xgKEcYYkhNskHJXjYLDUpnTnZJqveAe2q1iarYHq5erSvayvoxVNB7KZJMudKGtnK9Su0mLrV7Q+cjiujTHniEs1hgh4NE15yTtuMSOVpsW+d7Y9SjIjM0DnZmS8knvX8PMiZWbLfvLXVch+5KYcPw/wtEfsTrw39/bwcyU1czYZS7jUMmJPBmWehQHfOsbOUfvCX2W69r5JMPUcUI31+0hye1Om1IqFYVKKXmGQ38AuruGggB42m2QB2/CMBCF30FbSBgJBcJof0333nsoColprEIcOWb8+ao1I4hIPcmS796973xGDvP4/QHhv9jXh5BDHjbqaKAJBy200UEXO9jFHg5wiCMc4wSnOMM5LnCJK1zjBre4wz0e8IgnPOMFr3jDOz7wSTnK0wZt0hYVqEgGmVSiMlWoShbZVKNtqlODmuRQi9rUoa6ZME/6octFUvNDNpYiciX/CtWsYizFYWCl2oD1lc4rnpRikmYlrfrfPTHVdzvTqSGVDLa8LjuRULzPfU9xXfEHImEzh7WA94RSYqiRhvQCLmZKIRFyPjCZ8JhJN2JTZabEUbyCB2ISWQEbMMVcKUZRsOaJJRsbS00vEivpLuZpfnm1iE7s7H/o1TJE3VFdGFO9OH+drv8BbS2SHgAAAAAAAf//AAJ42mNgZGBg4AFiGSBmAkJmBk0GRgYtBicgmwUsxgAADTQAzwB42nVSSVLCQBR9HSmJOIAhSkpJkEGwEOcZcVy4cO2SDSu1inJFuXDhUTyBJ/AcnsMjiO93TAKhUl1Jd7/3+v2hGwpABh5aUP3e4AUmUkQwHEIY1X9+7BGDvyOX0rMJZfwiDRuv6tPIGB2jawwwRXwDdzhEFmUOD3WuFjlXOTwUuSsijxssjPBlOFhGgQqf3cb8CLvKGEshl6GyjS7e8YEvfONHmWoNm4xRoG5dn3Jjng6xCnaRi2kiZ19xNaGIZ7bFOclD+D1mnuRwhrkYl9cVutifYALXy3/GworuYiPMdQezE4xkcMoOjXvVUNL30sQ9rlmhrd2r/LJaU6MqH/q2uUpSiH8HM2O8YPIqDlil3LLDvB1mldNrPwOLevG2wyhy4oK9qtI/S2102xF/xEg5ugsS4NN8N3V25QFPeMM5e1AnU6Kz+JT4l8pPYrjLucFYTfbG1tEs9ijwbOmKIlQqumW/PCLR2zjmWw8Qv+Y0z1hcuTpu5Q/+XTUsAHjaY2BkYGDgYpBjMGFgzEksyWPgYGABijD8/88AkmEszqxKhYp9YIADAMCOBtEAAHjaY2BgYGQAgisSAhEg+obZf2MYDQA36wXWAAA=';
  font-family: 'framework7-core-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, @{fontBase64}") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  @fontBase64: 'd09GRgABAAAAAAYUAA0AAAAAEcwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAF+AAAABoAAAAchIe4209TLzIAAAGcAAAASwAAAGBRtV1jY21hcAAAAfwAAAC8AAABamglddJjdnQgAAACuAAAAAQAAAAEABEBRGdhc3AAAAXwAAAACAAAAAj//wADZ2x5ZgAAA2wAAACUAAAJjHCzhiRoZWFkAAABMAAAAC4AAAA2EI7o/2hoZWEAAAFgAAAAGgAAACQC8ADFaG10eAAAAegAAAATAAAAtAMAABFsb2NhAAACvAAAAK4AAACuaNBmhG1heHAAAAF8AAAAHwAAACAAmgA5bmFtZQAABAAAAAFSAAACvh2niEBwb3N0AAAFVAAAAJkAAADOCKMIc3jaY2BkYGAA4peH5Xvi+W2+MnAzMYDADfMrjgj6/wFGBsYDQC4HA1gaADoPCtkAAHjaY2BkYGA88P8Agx6QAQSMYIQCWABQZgK3AAB42mNgZGBgCGPgYGBiAAEQycgAEnNg0AMJAAANJwDUAHjaY2BhZGCcwMDKwMDow5jGwMDgDqW/MkgytDAwMDGwcjLAACMDEghIc01haGBQYKhlPPD/AIMe4wEGB5gaxgNAHgNQjhEA6dgLvQB42mNkYBBkAAJGKB4KAAAOfQAVAHjaY2BgYGaAYBkGRgYQSAHyGMF8FgYPIM3HwMHAxMDGoMSgxWDNEMsQz1D7/z9QXIFBjUGHwRHIT/z////j/w/+3/9/6//N/zeg5iABRjYGuCAjE5BgQlcAdAILK5DBxs7BycXAzcPLxy8gKCQsIiomLiEpBVYjLSMrJ6+gqKSsoqqmrqGppa2jq6dvYGhkbGJqZs5gwWBpZW1ja2fv4Ojk7OLq5u7h6eXt4+vnHxAYFBwSyjDgAABJLiG7ABEBRAAAACoAKgAqADgARgBUAGIAcAB+AIwAmgCoALYAxADYAOYA9AECARABHgEsAToBSAFWAWQBcgGAAY4BnAGqAbgBxgHUAeIB8AH+AgwCGgIoAjYCRAJSAmACbgJ8AooCmAKmArQCwgLQAt4C8gMAAw4DHAMqAzgDRgNUA2IDcAN+A4wDmgOoA7YDxAPSA+AD7gP8BAoEGAQmBDQEQgRQBF4EbAR6BIgEnASqBLgExgAAeNpjYGIQZGBgmMkYysDMwM6gt5GRQd9mEzsLw1ujjWysd2w2MTMBmQwbmUHCrCDhTexsjH9sNjGCxI0FjQXVjQWVBTvK09IYQ/+tFmQ0BprGyMDw/wAjA+MBoJkMooKKgowMDkwM/xgYRuVwyjEhybFDZBXBKv4zQFVBVI6G36jcqNyo3GiZMSo3Kjes8hQAx51w5njapZC9SgNBFIXP5A9tJJAXmCokkF1mN0JC2kCaNGKxtYsZkyG72TBZCMFn8CHE3tYHsLIVH8fCs5NBCy2ELAz3m3PPnXvvArjAMwSOXw/XngU6ePJcwxnePNehxKXnBjriwXMTbfHquUX9k07ROOftylVVLNDFveca2njxXMcN3j030BXacxNSPHpuUf/AFAW2OMDCYIkVSkjOfIs+YwyFCGMMyAkypFjQlfNYKnO6U1Kl53zDuCymxfZgzXJVyt5tX8YqGg9kkqULkxsr56vUZmm+NQs671hclWrsOYTFGiME2DFqPqo5SoENbTbN9b6w61GwW+tMlwXFX66f1MwJpYuWO2m3SchdJCY8/2t79EYYMhexPvj+G5gVm3JW2KWWcajkRP4xINVoGERxUO1/2qYJ85Ze48dSbozQxWolJNruDFsqFYVKKXlSuy/qHoEnAAB42l3OWTOCAQBG4afURdRYQkW5slTWLJElxtAmhEL2n9o/yzdddm7emXPxzhE2YjiQCSZknNeRDZsQERUzaUpcwrQZs+YkzVuwKCUdPCxZlpWzYtWadRvyCoo2bdm2Y9eekn0HDh0pO3ai4tSZcxeqLl25duNWTV1DU8udtnsPHnU8efaiqxd0vXnX9+HTl28/fv39A4MnExYAAAAAAAAB//8AAnjaY2BgYGQAgisSAhEg+ob5FUcYDQA2gQWeAAA=';
  font-family: 'framework7-skeleton';
  src: url("data:application/font-woff;charset=utf-8;base64, @{fontBase64}") format("woff");
  font-weight: 300, 400, 500, 600, 700;
  font-style: normal, italic;
}
.rtl({
  html {
    direction: rtl;
  }
});
html, body, .framework7-root {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: var(--f7-font-family);
  font-size: var(--f7-font-size);
  line-height: var(--f7-line-height);
  color: var(--f7-text-color);
}
.theme-dark {
  color: var(--f7-text-color);
}
.framework7-root {
  overflow: hidden;
  box-sizing: border-box;
}
.framework7-initializing * {
  &, &:before, &:after {
    transition-duration: 0ms !important;
  }
}
.device-ios, .device-android {
  cursor: pointer;
}
.device-ios {
  touch-action: manipulation;
}

// Fix for iPad in Safari in Lanscape mode
@media (width:1024px) and (height:691px) and (orientation:landscape) {
  html, body, .framework7-root {
    height: 671px;
  }
}
@media (width:1024px) and (height:692px) and (orientation:landscape) {
  html, body, .framework7-root  {
    height: 672px;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
a, input, textarea, select {
  outline: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--f7-theme-color);
}
p {
  margin: 1em 0;
}
// Disabled
.disabled {
  .disabled() !important;
}
// Full viewport
html.device-full-viewport {
  &, & body {
    height: 100vh;
  }
}

& when (@includeIosTheme) {
  @import url('./app-ios.less');
}
& when (@includeMdTheme) {
  @import url('./app-md.less');
}
