@darkred: #B71C1C;
@darkpink: #880E4F;
@darkpurple: #4A148C;
@darkdeeppurple:#311B92;
@darkindigo: #1A237E;
@darkblue: #0D47A1;
@darklightblue: #01579B;
@darkcyan: #006064;
@darkteal: #004D40;
@darkgreen: #1B5E20;
@darklightgreen: #33691E;
@darklime: #827717;
@darkyellow: #F57F17;
@darkamber: #FF6F00;
@darkorange: #E65100;
@darkdeeporange: #BF360C;
@darkbrown: #3E2723;
@darkgray: #212121;
@darkbluegray: #263238;

// Theme Color
@darkThemeColor: @darkblue;
