doctype
html.with-statusbar-overlay(manifest="manifest.php")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    title ToDo7
    link(rel="stylesheet", href="../../dist/css/framework7.min.css")
    link(rel="stylesheet", href="css/todo7.css")
    // Favicon
    link(href="img/icon-57.png", rel="shortcut icon")
    | 
    <!-- iOS 7 iPad (retina) -->
    <link href="img/icon-152.png" sizes="152x152" rel="apple-touch-icon">
    <!-- iOS 6 iPad (retina) -->
    <link href="img/icon-144.png" sizes="144x144" rel="apple-touch-icon">
    <!-- iOS 7 iPhone (retina) -->
    <link href="img/icon-120.png" sizes="120x120" rel="apple-touch-icon">
    <!-- iOS 6 iPhone (retina) -->
    <link href="img/icon-114.png" sizes="114x114" rel="apple-touch-icon">
    <!-- iOS 7 iPad -->
    <link href="img/icon-76.png" sizes="76x76" rel="apple-touch-icon">
    <!-- iOS 6 iPad -->
    <link href="img/icon-72.png" sizes="72x72" rel="apple-touch-icon">
    <!-- iOS 6 iPhone -->
    <link href="img/icon-57.png" sizes="57x57" rel="apple-touch-icon">
  body
    // Statusbar overlay
    .statusbar-overlay
    // Views
    .views
      .view.view-main.navbar-fixed
        .navbar
          .navbar-inner
            .left
            .center.sliding ToDo7
            .right
                a(href="#").link.icon-only.open-popup
                  i.icon.icon-plus +
        .pages
          .page(data-page="index")
            .page-content
              .list-block.todo-items-list.theme-pink
    // Popup to add new task           
    .popup
      .view.view-popup.navbar-fixed
        .navbar
          .navbar-inner
            .left
            .center.sliding New Task
            .right
                a(href="#").link.close-popup Cancel
        .pages
          .page
            .page-content
              .list-block
                ul
                  li
                    .item-content
                      .item-inner 
                        .item-title.label Task
                        .item-input
                          input(type="text", name="title")
                  li
                    .item-content
                      .item-inner 
                        .item-title.label Color
                        .item-input
                          span(data-color="orange").color.selected
                          span(data-color="green").color
                          span(data-color="blue").color
                          span(data-color="yellow").color
                          span(data-color="white").color
                          span(data-color="pink").color
                          span(data-color="purple").color
                          span(data-color="cyan").color
              .content-block
                a.button.add-task Add Task
    // Template
    script(id="todo-item-template", type="text/template")
      ul
        | {{#each this}}
        li.swipeout(data-color="{{color}}", data-id="{{id}}")
          .swipeout-content
            label.label-checkbox.item-content
              | <input type="checkbox" {{checked}}>
              .item-media
                i.icon.icon-form-checkbox
              .item-inner
                .item-title {{title}}
          .swipeout-actions-right
            a(href="#").swipeout-delete Delete
        | {{/each}}

    // Path to Framework7 Library JS
    script(type="text/javascript", src="../../dist/js/framework7.min.js")
    // Path to your app js
    script(type="text/javascript", src="js/todo7.js")