.md {
  --f7-searchbar-input-padding-left: calc(var(--f7-searchbar-input-padding-horizontal) + 17px);
  --f7-searchbar-input-padding-right: var(--f7-searchbar-input-padding-horizontal);
  .searchbar-inner {
    padding: 0 var(--f7-safe-area-right) 0 var(--f7-safe-area-left);
  }
  .searchbar-icon, .searchbar-disable-button {
    position: absolute;
    .ltr({
      left: calc(-4px + var(--f7-safe-area-left));
    });
    .rtl({
      right: calc(-4px + var(--f7-safe-area-right));
    });
    top: 50%;
    transition-duration: 300ms;
  }
  .searchbar-icon {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-top: -12px;
    color: #737373;
    &:after {
      content: 'search_md';
      line-height: 1.2;
    }
  }
  .searchbar-disable-button {
    width: 48px;
    height: 48px;
    transform: rotate(-90deg) scale(0.5);
    font-size: 0 !important;
    display: block;
    margin-top: -24px;
    color: #737373;
    .link-highlight();
    --f7-link-highlight-color: var(--f7-link-highlight-black);
    &:after {
      .coreIconsFont();
      line-height: 48px;
      .ltr({
        content: "arrow_left_md";
      });
      .rtl({
        content: "arrow_right_md";
      });
    }
  }
  .searchbar-enabled:not(.searchbar-enabled-no-disable-button) {
    .searchbar-disable-button {
      transform: rotate(0deg) scale(1);
      pointer-events: auto;
      opacity: 1;
    }
    .searchbar-icon {
      opacity: 0;
      transform: rotate(90deg) scale(0.5);
    }
  }
  .searchbar {
    .input-clear-button {
      width: 48px;
      height: 48px;
      margin-top: -24px;
      .ltr({ right: 0; });
      .rtl({ left: 0; });
      color: #737373;
      &:after {
        line-height: 48px;
        content: 'delete_md';
        opacity: 1;
      }
    }
    .input-clear-button:before {
      margin-left: 0;
      margin-top: 0;
    }
  }
  .page-content .searchbar {
    border-radius: 2px;
    margin: 8px;
    width: auto;
    box-shadow: var(--f7-elevation-1);
    .searchbar-inner {
      border-radius: 2px;
    }
  }
  .page > .searchbar {
    z-index: 510;
    .md-bar-shadow-to-bottom();
    &.no-shadow {
      .md-bar-no-shadow();
    }
  }
  .page > .searchbar, .subnavbar .searchbar, .searchbar-expandable {
    --f7-searchbar-input-padding-left: calc(var(--f7-searchbar-input-padding-horizontal) + 17px + 8px);
    .searchbar-icon, .searchbar-disable-button {
      .ltr({
        left: calc(-4px + 8px + var(--f7-safe-area-left));
      });
      .rtl({
        right: calc(-4px + 8px + var(--f7-safe-area-left));
      });
    }
  }
  .searchbar-expandable {
    --f7-searchbar-size: var(--f7-searchbar-height);
    height: 100%;
    opacity: 0;
    top: 50%;
    border-radius: calc(var(--f7-searchbar-size));
    width: calc(var(--f7-searchbar-size));
    margin-top: calc(var(--f7-searchbar-size) * -1 / 2);
    transform: translate3d(0px, 0px, 0px);
    .ltr({
      left: 100%;
      margin-left: calc(var(--f7-searchbar-size) * -1);
    });
    .rtl({
      right: 100%;
      margin-right: calc(var(--f7-searchbar-size) * -1);
    });
  }
  .navbar .searchbar-expandable {
    --f7-searchbar-size: var(--f7-navbar-height);
  }
  .toolbar .searchbar-expandable {
    --f7-searchbar-size: var(--f7-navbar-height);
  }
  .subnavbar .searchbar-expandable {
    --f7-searchbar-size: var(--f7-subnavbar-height);
  }
  .tabbar-labels .searchbar-expandable {
    --f7-searchbar-size: var(--f7-tabbar-labels-height);
  }

  .searchbar-expandable.searchbar-enabled {
    width: 100%;
    border-radius: 0;
    opacity: 1;
    pointer-events: auto;
    top: 0;
    margin-top: 0;
    .ltr({
      left: 0;
      margin-left: 0;
    });
    .rtl({
      right: 0;
      margin-right: 0;
    });
  }

  // Relation with page/navbar/toolbar
  .page > .searchbar ~ * .page-content,
  .page > .searchbar ~ .page-content {
    padding-top: var(--f7-searchbar-height);
  }
  // Navbar
  .page > .navbar ~ .searchbar {
    top: var(--f7-navbar-height);
  }
  .page > .navbar ~ .searchbar ~ * .page-content,
  .page > .navbar ~ .searchbar ~ .page-content {
    padding-top: calc(var(--f7-navbar-height) + var(--f7-searchbar-height));
  }

  // Toolbar
  .page > .toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ .searchbar {
    top: var(--f7-toolbar-height);
  }
  .page > .toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ .searchbar ~ * .page-content,
  .page > .toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ .searchbar ~ .page-content {
    padding-top: calc(var(--f7-toolbar-height) + var(--f7-searchbar-height));
  }

  .page > .tabbar-labels:not(.toolbar-bottom-md) ~ .searchbar {
    top: var(--f7-toolbar-labels-height);
  }
  .page > .tabbar-labels:not(.toolbar-bottom-md) ~ .searchbar ~ * .page-content,
  .page > .tabbar-labels:not(.toolbar-bottom-md) ~ .searchbar ~ .page-content {
    padding-top: calc(var(--f7-tabbar-labels-height) + var(--f7-searchbar-height));
  }

  // Navbar + Toolbar
  .page > .navbar ~ .toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ .searchbar {
    top: calc(var(--f7-navbar-height) + var(--f7-searchbar-height));
  }
  .page > .navbar ~ .toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ .searchbar ~ * .page-content,
  .page > .navbar ~ .toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ .searchbar ~ .page-content {
    padding-top: calc(var(--f7-navbar-height) + var(--f7-toolbar-height) + var(--f7-searchbar-height));
  }

  .page > .navbar ~ .tabbar-labels:not(.toolbar-bottom-md) ~ .searchbar {
    top: calc(var(--f7-navbar-height) + var(--f7-tabbar-labels-height));
  }
  .page > .navbar ~ .tabbar-labels:not(.toolbar-bottom-md) ~ .searchbar ~ * .page-content,
  .page > .navbar ~ .tabbar-labels:not(.toolbar-bottom-md) ~ .searchbar ~ .page-content {
    padding-top: calc(var(--f7-navbar-height) + var(--f7-tabbar-labels-height) + var(--f7-searchbar-height));
  }
}
