build
.git
.github
custom
packages
node_modules
*.ts
kitchen-sink/core
kitchen-sink/svelte/dist
kitchen-sink/react/dist
kitchen-sink/vue/dist
src/core/framework7.js
src/core/framework7-lite.js
src/core/modules/demo-module.js
src/core/modules/component/snabbdom
src/core/shared/material-color-utils.js
woff2

src/vue-temp
