.DS_Store
node_modules
build
custom
npm-debug.log
.idea
.vscode
scripts/build-config-custom.js
scripts/build-config-*.js
kitchen-sink/vue/js/app.js
kitchen-sink/react/js/app.js
.github-access-token
packages/*.zip
packages/*.tar.gz
woff2/
packages/core/*.*
!packages/core/package.json
!packages/core/README.md
packages/react/*.*
!packages/react/package.json
!packages/react/README.md
packages/vue/*.*
!packages/vue/package.json
!packages/vue/README.md