.DS_Store
node_modules
custom
npm-debug.log
.idea
scripts/build-config-custom.js
scripts/build-config-*.js
kitchen-sink/vue/dist
kitchen-sink/react/dist
kitchen-sink/svelte/dist
.github-access-token
packages/*.zip
packages/*.tar.gz
packages/core/**/*.js
packages/core/**/*.css
packages/core/**/*.less
packages/core/**/*.ts
packages/core/**/*.map
packages/core/components
packages/core/modules
packages/core/utils

build/core/**/*.js
build/core/**/*.css
build/core/**/*.less
build/core/**/*.ts
build/core/**/*.map
build/core/components
build/core/modules
build/core/utils

packages/react/**/*.js
packages/react/**/*.ts
packages/react/components
build/react/**/*.js
build/react/**/*.ts
build/react/components

packages/svelte/**/*.js
packages/svelte/**/*.ts
packages/svelte/**/*.svelte
packages/svelte/components
build/svelte/**/*.js
build/svelte/**/*.ts
build/svelte/**/*.svelte
build/svelte/components

packages/vue/**/*.js
packages/vue/**/*.ts
packages/vue/components
build/vue/**/*.js
build/vue/**/*.ts
build/vue/components

src/vue-temp/*.js

woff2/
