build
node_modules
packages

src/core/less/vars.less
src/core/modules/component/htm.js
src/core/modules/component/snabbdom
kitchen-sink/core/css/app.css
kitchen-sink/react/dist
kitchen-sink/vue/dist
kitchen-sink/svelte/dist
kitchen-sink/**/*.json
src/vue-temp
src/core/shared/material-color-utils.js
.nova
package.json
