:root {
  --f7-swipeout-button-text-color: #fff;
  --f7-swipeout-button-bg-color: #c7c7cc;
  --f7-swipeout-delete-button-bg-color: #ff3b30;
}
.ios {
  --f7-swipeout-button-padding: 0 30px;
}
.md {
  --f7-swipeout-button-padding: 0 24px;
}