@import (multiple) '../../less/colors-ios.less';

.button {
    text-decoration: none;
    text-align: center;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    padding: 0 10px;
    margin: 0;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    font-family: inherit;
    cursor: pointer;
    outline: 0;

    input[type="submit"]&, input[type="button"]&{
        width: 100%;
    }

    .buttons-row {
        -ms-flex-item-align: center;
        -webkit-align-self: center;
        align-self: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-lines: single;
        -moz-box-lines: single;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: none;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@import './button-ios.less';
@import './button-md.less';