// We don't need full layout here, because this page will be parsed with Ajax
// Top Navbar
.navbar
  .navbar-inner
    .left
      a(href="#").back.link Back
    .center.sliding Page 1
.pages
  // Page, data-page contains page name
  .page(data-page="page1")
    // Scrollable page content
    .page-content
      .content-block
        .content-block-inner
          p Here is a page 1!
          p Go 
            a(href="#").back back
            |  or go to 
            a(href="page2.html") Page 2
            | .