html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body {
  background: #000;
}
/*==============================
    Blured effect on views
==============================*/
.views {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-filter: blur(0px);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.views.blured {
  -webkit-filter: blur(10px);
  -webkit-transform: translate3d(0, 0, 0) scale(1.3);
  -moz-transform: translate3d(0, 0, 0) scale(1.3);
  -ms-transform: translate3d(0, 0, 0) scale(1.3);
  -o-transform: translate3d(0, 0, 0) scale(1.3);
  transform: translate3d(0, 0, 0) scale(1.3);
}
/*==============================
    Pages styling
==============================*/
.pages {
  background: #000;
}
.page[data-page="index"],
.page[data-page="detail"] {
  background: none;
  background: #000000 url(../img/bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* iOS over scrolling fix */
html.ios .page {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
html.ios .page-content {
  margin-bottom: 1px;
}
/*==============================
    Navbar
==============================*/
.navbar {
  border-bottom: none;
  background: #2b1127;
  color: #fff;
}
span.navbar-logo {
  width: 100px;
  height: 25px;
  background: url(../img/logo.png) no-repeat center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  display: block;
}
i.icon-plus {
  color: #fff;
}
/*==============================
    Homepage places list
==============================*/
.places-list {
  margin: 0;
  color: #fff;
}
.places-list ul {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.places-list a.item-link .item-inner,
.places-list .item-inner {
  background: none;
  padding-right: 15px;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.places-list li:last-child .item-inner,
.places-list li:last-child a.item-link:active .item-inner {
  border-bottom: none;
}
.places-list a.item-link:active {
  background: rgba(255, 255, 255, 0.1);
}
.places-list .item-after {
  font-size: 41px;
  font-weight: 100;
  max-height: none;
  color: #fff;
}
.places-list .city {
  font-size: 25px;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.places-list .country {
  font-size: 14px;
  font-weight: 300;
}
.places-list .list-block-label {
  text-align: center;
  color: #fff;
  opacity: 0.6;
}
/*==============================
    Search popup styling
==============================*/
.popup {
  background: rgba(25, 18, 15, 0.55);
  color: #fff;
}
.popup .navbar {
  background: #1c1d21;
}
.popup .navbar .left {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  margin-right: 0;
}
.popup .preloader {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  width: 20px;
  display: none;
}
.popup input[type="text"] {
  height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  padding: 4px 40px 4px 10px;
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  background: #000;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 14px;
}
.popup .pages,
.popup .page {
  background: none;
}
.popup a.link {
  color: #fff;
}
.popup .search-results {
  list-style: none;
  margin: 0 0;
  padding: 0 20px 0 18px;
  font-size: 16px;
}
.popup .search-results li {
  margin: 10px 0;
  cursor: pointer;
  white-space: nowrap;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popup .search-results span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  margin-left: 5px;
}
/*==============================
    Details page styles
==============================*/
.page[data-page="detail"] {
  color: #fff;
}
.detail-city {
  margin-top: 20px;
  font-size: 31px;
  text-align: center;
  font-weight: 300;
}
.detail-condition {
  text-align: center;
}
.detail-temp {
  font-size: 81px;
  line-height: 81px;
  font-weight: 100;
  text-align: center;
}
.list-block.forecast-list {
  font-weight: 300;
}
@media all and (min-width: 600px) {
  .list-block.forecast-list {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.list-block.forecast-list ul {
  border: none;
  background: rgba(0, 0, 0, 0.2);
}
.list-block.forecast-list .item-inner {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
.list-block.forecast-list li:last-child .item-inner {
  border-bottom: none;
}
.list-block.forecast-list span {
  display: inline-block;
}
.list-block.forecast-list span.state {
  color: #fff;
  font-size: 14px;
}
.list-block.forecast-list span.temps {
  width: 70px;
  margin-left: 15px;
  display: inline-block;
  text-align: right;
}
.list-block.forecast-list span.temps span {
  width: 30px;
}
.list-block.forecast-list span.temps span.high {
  color: #fff;
}
/*==============================
    Styles for case with statusbar overlay
==============================*/
html.with-statusbar-overlay .statusbar-overlay {
  background: #2b1127;
}
html.with-statusbar-overlay .statusbar-overlay.with-popup-opened {
  z-index: 11000;
  background: #1c1d21;
}
@media all and (max-width: 630px) and (max-height: 630px) {
  html.with-statusbar-overlay .popup {
    top: 20px;
    height: -webkit-calc(100% - 20px);
    height: -moz-calc(100% - 20px);
    height: -ms-calc(100% - 20px);
    height: calc(100% - 20px);
  }
}
/*==============================
    Modal
==============================*/
.modal-inner {
  border-bottom: 1px solid #390532;
}
.modal-button {
  border-right: 1px solid #390532;
}
.modal-inner,
.modal-button {
  color: #fff;
  background: rgba(77, 12, 68, 0.9);
}
.modal-button:active {
  background: #68095b;
}
