.ios {
  .icon-checkbox,
  .checkbox i {
    &:after {
      content: 'checkbox_ios';
      font-size: 21px;
    }
  }

  label.item-checkbox {
    &.active-state {
      transition-duration: 0ms;
    }
  }
}
