/*====================
  Core
  ==================== */
:root {
  --f7-theme-color: @themeColor;
  --f7-theme-color-rgb: red(@themeColor), green(@themeColor), blue(@themeColor);
  --f7-theme-color-shade: darken(@themeColor, 8%);
  --f7-theme-color-tint: lighten(@themeColor, 8%);

  --f7-theme-red-color: #ff3b30;

  --f7-area-left: 0px;
  --f7-area-right: 0px;
  --f7-area-top: 0px;
  --f7-area-bottom: 0px;

  --f7-area-outer-left: 0px;
  --f7-area-outer-right: 0px;
  --f7-area-outer-top: 0px;
  --f7-area-outer-bottom: 0px;

  @supports (left: env(safe-area-inset-left)) {
    --f7-area-top: env(safe-area-inset-top);
    --f7-area-bottom: env(safe-area-inset-bottom);
    --f7-area-outer-top: env(safe-area-inset-top);
    --f7-area-outer-bottom: env(safe-area-inset-bottom);
    .ios-edges {
      --f7-area-left: env(safe-area-inset-left);
      --f7-area-right: env(safe-area-inset-right);
      --f7-area-outer-left: env(safe-area-inset-left);
      --f7-area-outer-right: env(safe-area-inset-right);
    }
    .ios-left-edge,
    .ios-edges,
    .popup,
    .sheet-modal,
    .panel-left {
      --f7-area-left: env(safe-area-inset-left);
      --f7-area-outer-left: env(safe-area-inset-left);
    }
    .ios-right-edge,
    .ios-edges,
    .popup,
    .sheet-modal,
    .panel-left {
      --f7-area-right: env(safe-area-inset-right);
      --f7-area--outer-right: env(safe-area-inset-right);
    }
    .no-ios-edges {
      --f7-area-left: 0px;
      --f7-area-right: 0px;
      --f7-area-outer-left: 0px;
      --f7-area-outer-right: 0px;
    }
    .no-ios-left-edge {
      --f7-area-left: 0px;
      --f7-area-outer-left: 0px;
    }
    .no-ios-right-edge {
      --f7-area-right: 0px;
      --f7-area-outer-right: 0px;
    }
  }
}
.ios {
  --f7-font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
  --f7-text-color: #000;
  --f7-font-size: 14px;
  --f7-line-height: 1.4;
  --f7-page-transition-duration: 400ms;
}
.md {
  --f7-font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
  --f7-text-color: #212121;
  --f7-font-size: 14px;
  --f7-line-height: 1.5;
  --f7-page-transition-duration: 250ms;
}

/*====================
  Elevation
  ==================== */
:root {
  --f7-elevation-0: 0px 0px 0px 0px rgba(0,0,0,0);
  --f7-elevation-1:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --f7-elevation-2:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --f7-elevation-3:
    0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --f7-elevation-4:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --f7-elevation-5:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --f7-elevation-6:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --f7-elevation-7:
    0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14),
    0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --f7-elevation-8:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --f7-elevation-9:
    0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14),
    0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --f7-elevation-10:
    0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14),
    0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --f7-elevation-11:
    0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14),
    0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --f7-elevation-12:
    0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --f7-elevation-13:
    0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14),
    0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --f7-elevation-14:
    0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14),
    0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --f7-elevation-15:
    0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14),
    0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --f7-elevation-16:
    0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --f7-elevation-17:
    0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14),
    0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --f7-elevation-18:
    0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14),
    0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --f7-elevation-19:
    0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14),
    0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --f7-elevation-20:
    0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14),
    0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --f7-elevation-21:
    0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14),
    0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --f7-elevation-22:
    0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14),
    0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --f7-elevation-23:
    0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14),
    0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --f7-elevation-24:
    0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

/*====================
  Statusbar
  ==================== */
:root {
  --f7-statusbar-height: 0px;
}
.with-statusbar {
  &.device-ios {
    --f7-statusbar-height: var(--f7-area-top, 20px);
    @supports not (top: env(safe-area-inset-top)) {
      --f7-statusbar-height: 20px;
    }
  }
  &.device-android {
    --f7-statusbar-height: 24px;
  }
  &.ios:not(.device-ios):not(.device-android) {
    --f7-statusbar-height: 20px;
  }
  &.md:not(.device-ios):not(.device-android) {
    --f7-statusbar-height: 24px;
  }
}
.ios {
  // --f7-statusbar-bg-color: var(--f7-bars-bg-color);
}
.md {
  // --f7-statusbar-bg-color: var(--f7-theme-color-shade);
}
/*====================
  Bars - Navbar, Toolbar, Subnavbar, Searchbar
  ==================== */
.ios {
  --f7-bars-bg-color: #f7f7f8;
  --f7-bars-border-color: #c4c4c4;
  // --f7-bars-links-color: var(--f7-theme-color);
  --f7-bars-text-color: #000;

  --f7-navbar-height: 44px;
  --f7-navbar-font-size: 17px;
  --f7-navbar-subtitle-text-color: #6d6d72;

  --f7-subnavbar-height: 44px;
  --f7-subnavbar-title-font-size: 34px;
  --f7-subnavbar-title-font-weight: 700;

  --f7-searchbar-height: 44px;
  --f7-searchbar-placeholder-color: #939398;
  --f7-searchbar-input-text-color: #000;
  --f7-searchbar-input-font-size: 17px;
  --f7-searchbar-input-bg-color: #e8e8ea;
  --f7-searchbar-input-height: 32px;

  --f7-toolbar-height: 44px;
  --f7-toolbar-font-size: 17px;

  --f7-tabbar-labels-height: 50px;
  --f7-tabbar-labels-tablet-height: 56px;
  --f7-tabbar-link-inactive-color: #929292;
  // --f7-tabbar-link-active-color: var(--f7-theme-color);

  .theme-dark {
    --f7-bars-bg-color: #1b1b1b;
    --f7-bars-border-color: #282829;
    --f7-bars-text-color: #fff;
    --f7-navbar-subtitle-text-color: #8e8e93;
    --f7-searchbar-bg-color: #303030;
    --f7-searchbar-input-bg-color: #171717;
    --f7-searchbar-input-text-color: #fff;
  }
}
.md {
  // --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-links-color: #fff;
  --f7-bars-text-color: #fff;

  --f7-navbar-height: 56px;
  --f7-navbar-tablet-size: 64px;
  --f7-navbar-font-size: 20px;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);

  --f7-subnavbar-height: 48px;
  --f7-subnavbar-title-font-size: 20px;
  --f7-subnavbar-title-font-weight: 500;

  --f7-searchbar-bg-color: #fff;
  --f7-searchbar-height: 48px;
  --f7-searchbar-placeholder-color: #939398;
  --f7-searchbar-input-text-color: #000;
  --f7-searchbar-input-font-size: 20px;
  --f7-searchbar-input-bg-color: transparent;
  --f7-searchbar-input-height: 100%;

  --f7-toolbar-height: 48px;
  --f7-toolbar-font-size: 14px;

  --f7-tabbar-labels-height: 72px;
  --f7-tabbar-labels-bottom-size: 56px;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.7);
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-active-border-color: #fff;
}

/*====================
  Grid
  ==================== */
.ios {
  --f7-grid-gap: 15px;
}
.md {
  --f7-grid-gap: 16px;
}

/*====================
  Buttons
  ==================== */
:root {
  --f7-button-font-size: 14px;
  --f7-button-min-width: 32px;
  --f7-button-fill-text-color: #fff;
  --f7-button-raised-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --f7-button-raised-pressed-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --f7-segmented-raised-divider-color: rgba(0,0,0,0.1);
}
.ios {
  // --f7-button-color: var(--f7-theme-color);
  --f7-button-height: 29px;
  --f7-button-padding: 10px;
  --f7-button-border-radius: 5px;
  --f7-button-font-weight: 400;
  --f7-button-letter-spacing: 0;
  --f7-button-text-transform: none;
  // --f7-button-pressed-bg-color: rgba(var(--f7-theme-color-rgb), .15);
  // --f7-button-fill-pressed-bg-color: var(--f7-theme-color-tint);
  --f7-button-outline-border-width: 1px;
  --f7-button-big-height: 44px;
  --f7-button-big-font-size: 17px;
  --f7-button-small-height: 26px;
}
.md {
  // --f7-button-color: var(--f7-theme-color);
  --f7-button-height: 36px;
  --f7-button-padding: 8px;
  --f7-button-border-radius: 4px;
  --f7-button-font-weight: 500;
  --f7-button-letter-spacing: 0.03em;
  --f7-button-text-transform: uppercase;
  --f7-button-pressed-bg-color: rgba(0,0,0,0.1);
  // --f7-button-fill-pressed-bg-color: var(--f7-theme-color-shade);
  --f7-button-outline-border-width: 2px;
  --f7-button-big-height: 48px;
  --f7-button-big-font-size: 14px;
  --f7-button-small-height: 28px;
  .theme-dark {
    --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
  }
}

/*====================
  Block
  ==================== */
:root {
  --f7-block-strong-bg-color: #fff;
  --f7-block-title-font-size: inherit;
  --f7-block-header-margin: 10px;
  --f7-block-footer-margin: 10px;
  --f7-block-header-font-size: 14px;
  --f7-block-footer-font-size: 14px;
}
.ios {
  --f7-block-text-color: #6d6d72;
  --f7-block-padding: 15px;
  --f7-block-vertical-margin: 35px;
  --f7-block-strong-text-color: #000;
  --f7-block-strong-border-color: #c8c7cc;
  --f7-block-title-text-transform: uppercase;
  --f7-block-title-text-color: #6d6d72;
  --f7-block-title-font-weight: 400;
  --f7-block-title-line-height: 17px;
  --f7-block-title-margin-bottom: 10px;
  --f7-block-inset-side-margin: 15px;
  --f7-block-inset-border-radius: 7px;
  --f7-block-header-text-color: #8f8f94;
  --f7-block-footer-text-color: #8f8f94;
  .theme-dark {
    --f7-block-strong-border-color: #282829;
    --f7-block-title-text-color: #8E8E93;
    --f7-block-header-text-color: #8E8E93;
    --f7-block-footer-text-color: #8E8E93;
    --f7-block-strong-bg-color: #1c1c1d;
    --f7-block-strong-text-color: #fff;
  }
}
.md {
  --f7-block-text-color: inherit;
  --f7-block-padding: 16px;
  --f7-block-vertical-margin: 32px;
  --f7-block-strong-text-color: inherit;
  --f7-block-strong-border-color: rgba(0,0,0,0.12);
  --f7-block-title-text-transform: none;
  --f7-block-title-text-color: rgba(0,0,0,0.54);
  --f7-block-title-font-weight: 500;
  --f7-block-title-line-height: 16px;
  --f7-block-title-margin-bottom: 16px;
  --f7-block-inset-side-margin: 16px;
  --f7-block-inset-border-radius: 4px;
  --f7-block-header-text-color: rgba(0,0,0,0.54);
  --f7-block-footer-text-color: rgba(0,0,0,0.54);
  .theme-dark {
    --f7-block-strong-border-color: #282829;
    --f7-block-title-text-color: #fff;
    --f7-block-header-text-color: rgba(255,255,255,0.54);
    --f7-block-footer-text-color: rgba(255,255,255,0.54);
    --f7-block-strong-bg-color: #1c1c1d;
  }
}

/*====================
  Badge
  ==================== */
.ios {
  --f7-badge-text-color: #fff;
  --f7-badge-bg-color: #8e8e93;
  --f7-badge-size: 20px;
  --f7-badge-font-size: 12px;
  --f7-badge-font-weight: normal;
  --f7-badge-border-radius: 10px;
  --f7-badge-padding: 0 4px;
  --f7-badge-in-icon-size: 16px;
  --f7-badge-in-icon-font-size: 10px;
}
.md {
  --f7-badge-text-color: #fff;
  --f7-badge-bg-color: #8e8e93;
  --f7-badge-size: 18px;
  --f7-badge-font-size: 12px;
  --f7-badge-font-weight: normal;
  --f7-badge-border-radius: 4px;
  --f7-badge-padding: 0 4px;
  --f7-badge-in-icon-size: 16px;
  --f7-badge-in-icon-font-size: 10px;
}

/*====================
  Card
  ==================== */
:root {
  --f7-card-bg-color: #fff;
  --f7-card-outline-border-color: rgba(0,0,0,0.12);
  --f7-card-border-radius: 4px;
  --f7-card-font-size: 14px;
  --f7-card-header-border-color: #e1e1e1;
  --f7-card-footer-border-color: #e1e1e1;
  .theme-dark {
    --f7-card-bg-color: #1c1c1d;
    --f7-card-outline-border-color: #282829;
    --f7-card-header-border-color: #282829;
    --f7-card-footer-border-color: #282829;
    --f7-card-footer-text-color: #8E8E93;
  }
}
.ios {
  --f7-card-margin: 10px;
  --f7-card-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  --f7-card-content-padding: 15px;
  --f7-card-header-font-size: 17px;
  --f7-card-header-padding: 4px 15px;
  --f7-card-header-min-height: 44px;
  --f7-card-footer-text-color: #6d6d72;
  --f7-card-footer-padding: 4px 15px;
  --f7-card-footer-min-height: 44px;
}
.md {
  --f7-card-margin: 8px;
  --f7-card-box-shadow: var(--f7-elevation-1);
  --f7-card-content-padding: 16px;
  --f7-card-header-font-size: 16px;
  --f7-card-header-padding: 4px 16px;
  --f7-card-header-min-height: 48px;
  --f7-card-footer-text-color: #757575;
  --f7-card-footer-padding: 4px 16px;
  --f7-card-footer-min-height: 48px;
}

/*====================
  Chip
  ==================== */
:root {
  --f7-chip-bg-color: rgba(0, 0, 0, 0.12);
  --f7-chip-font-size: 13px;
  --f7-chip-outline-border-color: rgba(0, 0, 0, 0.12);
  --f7-chip-media-font-size: 16px;
  --f7-chip-delete-button-color: #000;
  .theme-dark {
    --f7-chip-delete-button-color: #fff;
    --f7-chip-bg-color: #333;
    --f7-chip-outline-border-color: #333;
  }
}
.ios {
  --f7-chip-text-color: #000;
  --f7-chip-height: 24px;
  .theme-dark {
    --f7-chip-text-color: #fff;
  }
}
.md {
  --f7-chip-text-color: rgba(0, 0, 0, 0.87);
  --f7-chip-height: 32px;
  .theme-dark {
    --f7-chip-text-color: rgba(255,255,255,0.87);
  }
}


/*====================
  Messages
  ==================== */
:root {
  --f7-message-text-header-text-color: inherit;
  --f7-message-text-header-opacity: 0.65;
  --f7-message-text-header-font-size: 12px;
  --f7-message-text-footer-text-color: inherit;
  --f7-message-text-footer-opacity: 0.65;
  --f7-message-text-footer-font-size: 12px;
  --f7-message-bubble-line-height: 1.2;
  --f7-message-header-font-size: 12px;
  --f7-message-footer-font-size: 11px;
  --f7-message-name-font-size: 12px;
  --f7-message-typing-indicator-bg-color: #000;
}
.ios {
  --f7-messages-content-bg-color: #fff;
  --f7-messages-title-text-color: #8e8e93;
  --f7-messages-title-font-size: 11px;
  --f7-message-header-text-color: #8e8e93;
  --f7-message-footer-text-color: #8e8e93;
  --f7-message-name-text-color: #8e8e93;
  --f7-message-avatar-size: 29px;
  --f7-message-margin: 10px;
  --f7-message-bubble-font-size: 17px;
  --f7-message-bubble-border-radius: 16px;
  --f7-message-bubble-padding-vertical: 6px;
  --f7-message-bubble-padding-horizontal: 16px;
  --f7-message-sent-bg-color: #00d449;
  --f7-message-sent-text-color: #fff;
  --f7-message-received-bg-color: #e5e5ea;
  --f7-message-received-text-color: #000;
  --f7-message-typing-indicator-opacity: 0.35;
  .theme-dark {
    --f7-messages-content-bg-color: transparent;
    --f7-message-received-bg-color: #333;
    --f7-message-received-text-color: #fff;
    --f7-message-typing-indicator-bg-color: #fff;
  }
}
.md {
  --f7-messages-content-bg-color: #eee;
  --f7-messages-title-text-color: rgba(0,0,0,.51);
  --f7-messages-title-font-size: 12px;
  --f7-message-header-text-color: rgba(0,0,0,.51);
  --f7-message-footer-text-color: rgba(0,0,0,.51);
  --f7-message-name-text-color: rgba(0,0,0,.51);
  --f7-message-avatar-size: 32px;
  --f7-message-margin: 16px;
  --f7-message-bubble-font-size: 16px;
  --f7-message-bubble-border-radius: 4px;
  --f7-message-bubble-padding-vertical: 6px;
  --f7-message-bubble-padding-horizontal: 8px;
  --f7-message-sent-bg-color: #c8e6c9;
  --f7-message-sent-text-color: #333;
  --f7-message-received-bg-color: #fff;
  --f7-message-received-text-color: #333;
  --f7-message-typing-indicator-opacity: 0.6;
  .theme-dark {
    --f7-messages-content-bg-color: transparent;
    --f7-message-title-text-color: rgba(255,255,255,0.54);
    --f7-message-header-text-color: rgba(255,255,255,0.54);
    --f7-message-name-text-color: rgba(255,255,255,0.54);
    --f7-message-footer-text-color: rgba(255,255,255,0.54);
  }
}

/*====================
  Panels
  ==================== */
:root {
  --f7-panel-width: 260px;
  --f7-panel-bg-color: #fff;
}
.ios {
  --f7-panel-backdrop-bg-color: rgba(0,0,0,0);
  --f7-panel-transition-duration: 400ms;
  --f7-panel-shadow: transparent;
}
.md {
  --f7-panel-backdrop-bg-color: rgba(0,0,0,0.2);
  --f7-panel-transition-duration: 300ms;
  --f7-panel-shadow:
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 100%;
}

/*====================
  Popup
  ==================== */
.ios {
  --f7-popup-box-shadow: none;
}
.md {
  --f7-popup-box-shadow: 0px 20px 44px rgba(0,0,0,0.5);
}

/*====================
  Swipeout
  ==================== */
:root {
  --f7-swipeout-button-text-color: #fff;
  --f7-swipeout-button-bg-color: #c7c7cc;
  --f7-swipeout-delete-button-bg-color: #ff3b30;
}
.ios {
  --f7-swipeout-button-padding: 0 30px;
}
.md {
  --f7-swipeout-button-padding: 0 24px;
}

/*====================
  Toast
  ==================== */
.ios {
  --f7-toast-text-color: #fff;
  --f7-toast-font-size: 14px;
  --f7-toast-bg-color: rgba(0,0,0,0.75);
  --f7-toast-translucent-bg-color-ios: rgba(0,0,0,0.75);
  --f7-toast-padding-horizontal: 15px;
  --f7-toast-padding-vertical: 12px;
  --f7-toast-border-radius: 8px;
  --f7-toast-button-min-width: 64px;
  --f7-toast-icon-size: 48px;
}
.md {
  --f7-toast-text-color: #fff;
  --f7-toast-font-size: 14px;
  --f7-toast-bg-color: #323232;
  --f7-toast-padding-horizontal: 24px;
  --f7-toast-padding-vertical: 14px;
  --f7-toast-border-radius: 4px;
  --f7-toast-button-min-width: 64px;
  --f7-toast-icon-size: 48px;
}
/*====================
  Toggle
  ==================== */
.ios {
  --f7-toggle-handle-color: #fff;
  --f7-toggle-width: 52px;
  --f7-toggle-height: 32px;
  --f7-toggle-border-color-ios: #e5e5e5;
  --f7-toggle-inactive-color: #fff;
  .theme-dark {
    --f7-toggle-border-color-ios: #555;
    --f7-toggle-inactive-color: #222;
  }
}
.md {
  --f7-toggle-handle-color: #fff;
  --f7-toggle-width: 36px;
  --f7-toggle-height: 14px;
  --f7-toggle-inactive-color: #b0afaf;
  .theme-dark {
    --f7-toggle-inactive-color: #555;
  }
}

/*====================
  Tooltip
  ==================== */
:root {
  --f7-tooltip-bg-color: rgba(0,0,0,0.87);;
  --f7-tooltip-text-color: #fff;
  --f7-tooltip-border-radius: 4px;
  --f7-tooltip-padding: 8px 16px;
  --f7-tooltip-font-size: 14px;
  --f7-tooltip-font-weight: 500;
  --f7-tooltip-desktop-padding: 6px 8px;
  --f7-tooltip-desktop-font-size: 12px;
}

/*====================
  Typography
  ==================== */
.ios {
  --f7-typography-padding: 15px;
  --f7-typography-margin: 15px;
}
.md {
  --f7-typography-padding: 16px;
  --f7-typography-margin: 16px;
}

/*====================
  Color Themes
  ==================== */
.for-each(@pair in @colors) {
  @colorName: at(@pair, 1);
  @colorValue: at(@pair, 2);
  .color-theme-@{colorName} {
    --f7-theme-color: @colorValue;
    --f7-theme-color-rgb: red(@colorValue), green(@colorValue), blue(@colorValue);
    --f7-theme-color-shade: darken(@colorValue, 8%);
    --f7-theme-color-tint: lighten(@colorValue, 8%);
  }
}
.for-each(@pair in @colors) {
  @colorName: at(@pair, 1);
  @colorValue: at(@pair, 2);
  .color-@{colorName} {
    --f7-theme-color: @colorValue;
    --f7-theme-color-rgb: red(@colorValue), green(@colorValue), blue(@colorValue);
    --f7-theme-color-shade: darken(@colorValue, 8%);
    --f7-theme-color-tint: lighten(@colorValue, 8%);
  }
}