.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Color Themes
    .right
      a(href="#").open-panel.link.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="color-themes")
    .page-content
      .content-block
        p Framework7 comes with default 10 iOS color themes set and three layout color themes (default, dark and pure white):
      .content-block-title Choose Layout Theme
      .content-block
        .row
          .col-33.ks-layout-theme.ks-layout-default.active(data-layout="")
          .col-33.ks-layout-theme.ks-layout-dark(data-theme="dark")
          .col-33.ks-layout-theme.ks-layout-white(data-theme="white")
      .content-block-title Choose Color Theme
      .content-block
        .row
          .col-20.ks-color-theme.bg-white(data-theme="white")
          .col-20.ks-color-theme.bg-black(data-theme="black")
          .col-20.ks-color-theme.bg-blue(data-theme="blue")
          .col-20.ks-color-theme.bg-orange(data-theme="orange")
          .col-20.ks-color-theme.bg-red(data-theme="red")
        .row
          .col-20.ks-color-theme.bg-pink(data-theme="pink")
          .col-20.ks-color-theme.bg-green(data-theme="green")
          .col-20.ks-color-theme.bg-lightblue(data-theme="lightblue")
          .col-20.ks-color-theme.bg-yellow(data-theme="yellow")
          .col-20.ks-color-theme.bg-gray(data-theme="gray")
        
      