.navbar
  .navbar-inner
    .left
      a(href="index.html").back.link
        i.icon.icon-back-blue 
        span Back
    .center.sliding Contacts
    .right
      a(href="#").open-panel.link.icon-only
        i.icon.icon-bars-blue
.pages.navbar-through
  .page(data-page="contacts")
    .page-content.contacts-content
      .list-block.contacts-block
        .contacts-group-title A
        ul
          li
            .item-content
              .item-inner
                .item-title Aaron 
          li
            .item-content
              .item-inner
                .item-title Abbie
          li
            .item-content
              .item-inner
                .item-title Adam
          li
            .item-content
              .item-inner
                .item-title Adele
          li
            .item-content
              .item-inner
                .item-title Agatha
          li
            .item-content
              .item-inner
                .item-title Agnes
          li
            .item-content
              .item-inner
                .item-title Albert
          li
            .item-content
              .item-inner
                .item-title Alexander
      .list-block.contacts-block
        .contacts-group-title B
        ul
          li
            .item-content
              .item-inner
                .item-title Bailey
          li
            .item-content
              .item-inner
                .item-title Barclay
          li
            .item-content
              .item-inner
                .item-title Bartolo
          li
            .item-content
              .item-inner
                .item-title Bellamy
          li
            .item-content
              .item-inner
                .item-title Belle
          li
            .item-content
              .item-inner
                .item-title Benjamin
      .list-block.contacts-block
        .contacts-group-title C
        ul
          li
            .item-content
              .item-inner
                .item-title Caiden
          li
            .item-content
              .item-inner
                .item-title Calvin
          li
            .item-content
              .item-inner
                .item-title Candy
          li
            .item-content
              .item-inner
                .item-title Carl
          li
            .item-content
              .item-inner
                .item-title Cherilyn
          li
            .item-content
              .item-inner
                .item-title Chester
          li
            .item-content
              .item-inner
                .item-title Chloe
      .list-block.contacts-block
        .contacts-group-title V
        ul
          li
            .item-content
              .item-inner
                .item-title Vladimir
          