.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back 
        span Back
    .center.sliding Core Features
    .right
      a(href="#").open-panel.link.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="core-features")
    .page-content
      .content-block-title Ultra Easy To Use
      .content-block 
        .content-block-inner
          p All you need to make it work is a simple HTML layout and two lines of JavaScript: 
          p var app = new Framework7();<br>app.addView('.main-view');
      
      .content-block-title Custom DOM Library
      .content-block 
        .content-block-inner
          p Framework7 is library agnostic, so you don't need to use any other library (like jQuery, Zepto, Mootols, etc) to make it work. If you need to work with DOM (like jQuery) Framework7 may help you to avoid, it contains custom function to work with DOM. Its syntax is the same as in jQuery with almost the same methods, and also support jQuery-like chaining! The following methods are available with the same syntax and functionality: 
            b  .addClass()
            b  .removeClass()
            b  .hasClass()
            b  .toggleClass()
            b  .on()
            b  .off()
            b  .attr()
            b  .transform()
            b  .transition()
            b  .transitionEnd()
            b  .animationEnd()
            b  .width()
            b  .offset()
            b  .html()
            b  .is()
            b  .parents()
            b  .parent()
            b  .children()
            b  .append()
            b  .prepend()
            b  .find()
            b  .remove()
          p This function can be exposed for your usage by calling for example $ =  app.$;
      .content-block-title XHR + Caching
      .content-block 
        .content-block-inner
          p Framework7 utilizes own methods to load pages via Ajax with internal configurable caching that allows to load pages faster and saves a lot of traffic for your users!
      .content-block-title History
      .content-block 
        .content-block-inner
          p When you navigate deeper and deeper you may face a problem about how to get back in the same order? Framework7 solves this problem by collecting navigation history. It is epsecially good if your users may come to the same page from different pages. And with Framework7 it is enough just to add "back" class to your link, and it will recognize what page to load.
      .content-block-title Previous Page Preloading
      .content-block 
        .content-block-inner
          p Framework7 preloads previous page (when available) so your users can always do the nice swipe back gesture to get that page.
      .content-block-title Multiple Views
      .content-block 
        .content-block-inner
          p Framework7 supports unlimited number of different isolated views, like the main view where you are reading this text and another view in <a href="#" class="open-panel" data-panel="right">right panel</a>. And the fun thing is that you can control one view from another by using "data-view" attribute on links.
      .content-block-title Performant Animations
      .content-block 
        .content-block-inner
          p It is all about performance and Framework7 uses high performance css animations and 3d transformations to achieve the best result.
      .content-block-title Easy To Customize
      .content-block 
        .content-block-inner
          p With Framework7 everything is simple, all styles are divided by parts into small .less files, so you can easy, very easy, bring your own custom styles to your app.
      .content-block-title Ultra Lightweight
      .content-block 
        .content-block-inner
          p Framework7 is a library agnostic and ultra lightweight.