.navbar
  .navbar-inner
    .left.sliding
      a(href="forms.html").back.link
        i.icon.icon-back 
        span Forms
    .center.sliding Buttons
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="form-buttons")
    .page-content
      .content-block-title Usual Buttons
      .content-block
        .row
          .col-33
            a(href="#").button.active Active
          .col-33
            a(href="#").button Button
          .col-33
            a(href="#").button.button-round Round
      .content-block
        .row
          .col-50
            a(href="#").button.active Active
          .col-50
            a(href="#").button Button
      .content-block
        .buttons-row
          a(href="#").button Button
          a(href="#").button Button
      .content-block
        .buttons-row
          a(href="#").button.button-round Button
          a(href="#").button.button-round Button
          a(href="#").button.button-round Button
      .content-block
        .buttons-row
          a(href="#").button Button
          a(href="#").button.active Button
          a(href="#").button Button
          a(href="#").button Button

      .content-block-title Big Buttons
      .content-block
        .row
          .col-50
            a(href="#").button.button-big.active Active
          .col-50
            a(href="#").button.button-big Button
      .content-block-title Themed Fill Buttons
      .content-block
        .row
          .col-50
            a(href="#").button.button-big.button-fill.color-green Submit
          .col-50
            a(href="#").button.button-big.button-fill.color-red Cancel
      .content-block-title List-Block Buttons
      .list-block.inset
        ul
          li
            a(href="#").list-button.item-link List Button 1
          li
            a(href="#").list-button.item-link List Button 2
          li
            a(href="#").list-button.item-link List Button 2
      .list-block.inset
        ul
          li
            a(href="#").list-button.item-link.color-red Big Red Button