.navbar
  .navbar-inner
    .left
      a(href="index.html").back.link
        i.icon-back-blue 
        span Back
    .center.sliding Forms
    .right
      a(href="#").link.open-panel
        i.icon-form-bars-blue
.pages.navbar-through
  .page(data-page="forms")
    .page-content
      .content-block 
        p Framework7 provides very flexible forms layout, you can use it with/out icons, with/out labels, or mixed layouts.
      .content-block-title Form
      .list-block
        ul
          li
            .icons
              i.icon-form-name
            .inner 
              .text.label Name
              .input
                input(type="text", placeholder="Your name")
          li
            .icons
              i.icon-form-email
            .inner 
              .text.label E-mail
              .input
                input(type="email", placeholder="E-mail")
          li
            .icons
              i.icon-form-url
            .inner 
              .text.label URL
              .input
                input(type="url", placeholder="URL")
          li
            .icons
              i.icon-form-password
            .inner 
              .text.label Password
              .input
                input(type="password", placeholder="Password")
          li
            .icons
              i.icon-form-tel
            .inner 
              .text.label Phone
              .input
                input(type="tel", placeholder="Phone")
          li
            .icons
              i.icon-form-gender
            .inner 
              .text.label Gender
              .input
                select
                  option Male
                  option Female
          li
            .icons
              i.icon-form-calendar
            .inner 
              .text.label Birth date
              .input
                input(type="date", placeholder="Birth day", value="2014-04-30")
          li
            .icons
              i.icon-form-toggle
            .inner 
              .text.label Switch
              .input
                label.switch
                  input(type="checkbox")
          li
            .icons
              i.icon-form-settings
            .inner
              .text.label Slider
              .input
                .slider(data-min="0", data-max="100", data-value="0")
                  .slider-handle
                  .slider-range
          li.align-top
            .icons
              i.icon-form-comment
            .inner 
              .text.label Textarea
              .input
                textarea
      .content-block-title Icons and inputs
      .list-block
        ul
          li
            .icons
              i.icon-form-name
            .inner 
              .input
                input(type="text", placeholder="Your name")
          li
            .icons
              i.icon-form-email
            .inner 
              .input
                input(type="text", placeholder="E-mail")
          li
            .icons
              i.icon-form-password
            .inner 
              .input
                input(type="password", placeholder="Password")
          li
            .icons
              i.icon-form-tel
            .inner 
              .input
                input(type="tel", placeholder="Phone")
          li
            .icons
              i.icon-form-gender
            .inner 
              .input
                select
                  option Male
                  option Female
          li
            .icons
              i.icon-form-calendar
            .inner 
              .input
                input(type="date", placeholder="Birth day", value="2014-04-30")
          li
            .icons
              i.icon-form-toggle
            .inner 
              .input
                label.switch
                  input(type="checkbox")
      .content-block-title Labels and inputs
      .list-block
        ul
          li
            .inner 
              .text.label Name
              .input
                input(type="text", placeholder="Your name")
          li
            .inner 
              .text.label E-mail
              .input
                input(type="text", placeholder="E-mail")
          li
            .inner 
              .text.label Password
              .input
                input(type="password", placeholder="Password")
          li
            .inner 
              .text.label Phone
              .input
                input(type="tel", placeholder="Phone")
          li
            .inner 
              .text.label Gender
              .input
                select
                  option Male
                  option Female
          li
            .inner 
              .text.label Birth date
              .input
                input(type="date", placeholder="Birth day", value="2014-04-30")
          li
            .inner 
              .text.label Switch
              .input
                label.switch
                  input(type="checkbox")
      .content-block-title Just inputs
      .list-block
        ul
          li
            .inner 
              .input
                input(type="text", placeholder="Your name")
          li
            .inner 
              .input
                input(type="text", placeholder="E-mail")
          li
            .inner 
              .input
                input(type="password", placeholder="Password")
          li
            .inner 
              .input
                input(type="tel", placeholder="Phone")
          li
            .inner 
              .input
                select
                  option Male
                  option Female
          li
            .inner 
              .input
                input(type="date", placeholder="Birth day", value="2014-04-30")
          li
            .inner 
              .input
                label.switch
                  input(type="checkbox")
      .content-block-title Inset, just inputs
      .list-block.inset
        ul
          li
            .inner 
              .input
                input(type="text", placeholder="Your name")
          li
            .inner 
              .input
                input(type="text", placeholder="E-mail")
          li
            .inner 
              .input
                input(type="password", placeholder="Password")
          li
            .inner 
              .input
                input(type="tel", placeholder="Phone")
          li
            .inner 
              .input
                select
                  option Male
                  option Female
          li
            .inner 
              .input
                input(type="date", placeholder="Birth day", value="2014-04-30")
          li
            .inner 
              .input
                label.switch
                  input(type="checkbox")
      .content-block-title Buttons
      .content-block
        .row
          .col-33
            a(href="#").button.active Active
          .col-33
            a(href="#").button Button
          .col-33
            a(href="#").button.round Round
      .content-block
        .row
          .col-50
            a(href="#").button.active Active
          .col-50
            a(href="#").button Button
      .content-block
        .buttons-row
          a(href="#").button Button
          a(href="#").button Button
      .content-block
        .buttons-row
          a(href="#").button.round Button
          a(href="#").button.round Button
          a(href="#").button.round Button
      .content-block
        .buttons-row
          a(href="#").button Button
          a(href="#").button.active Button
          a(href="#").button Button
          a(href="#").button Button
      .content-block-title List-style Buttons
      .list-block.inset
        ul
          li
            a(href="#").list-button List Button 1
          li
            a(href="#").list-button List Button 2
          li
            a(href="#").list-button List Button 2
      .list-block.inset
        ul
          li
            a(href="#").list-button.red Big Red Button