.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back 
        span Back
    .center.sliding Login Screen
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="login-screen")
    .page-content
      .content-block
        p Framework7 comes with ready to use Login Screen layout. It could be used inside of page or inside of popup (Embedded) or as a standalone overlay:
      .content-block.row
        .col-50
          a(href="login-screen-embedded.html").button Embedded Into Page
        .col-50
          a(href="#").button.open-login-screen As Overlay