.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back-blue 
        span Back
    .center.sliding Login Screen
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars-blue
.pages.navbar-through
  .page(data-page="login-screen")
    .page-content
      .content-block.row
        .col-50
          a(href="login-screen-embedded.html").button Embedded Into Page
        .col-50
          a(href="#", data-popup=".login-popup").button.open-popup In Popup