.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back 
        span Back
    .center.sliding Modals
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="modals")
    .page-content
      .content-block
        p There are 1:1 replacements of native Alert, Prompt and Confirm modals. They support callbacks, have very easy api and can be combined with each other. Check these examples:
      .content-block.row
          .col-33
              a.button(href="#").demo-alert Alert
          .col-33
              a.button(href="#").demo-confirm Confirm
          .col-33
            a.button(href="#").demo-prompt Prompt
      .content-block.row
          .col-50
              a.button(href="#").demo-login Login Modal
          .col-50
              a.button(href="#").demo-password Password Modal
      .content-block.row
          .col-50
              a.button(href="#").demo-actions Action
          .col-50
              a.button(href="#", data-popup=".demo-popup").open-popup Popup    
          