.pages.navbar-through
  .page(data-page="no-navbar").no-navbar
    .page-content
      .content-block
        p On this page Navbar was hidden dynamically. All you need to make it work is just to add "no-navbar" class to this page.
        p
          a(href="index.html").back.button Go Back 