.navbar
  .navbar-inner
    .left
      a(href="index.html").back.link
        i.icon-back-blue 
        span Back
    .center.sliding Hide Toolbar
    .right
      a(href="#").open-panel.link
        i.icon-bars-blue
.pages.navbar-through
  .page(data-page="index").no-toolbar
    .page-content
      .content-block
        p On this page Toolbar was hidden dynamically. Just to add "no-toolbar" class to this page to make it work.
        p
          a(href="index.html").back.button Go Back 