.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back 
        span Back
    .center.sliding Nested Sliders
    .right
      a(href="#").open-panel.link.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="slider-nested")
    .page-content
      .slider-container.slider-init.ks-demo-slider(data-pagination=".slider-pagination-h", data-paginationHide="false")
        .slider-pagination.slider-pagination-h
        .slider-wrapper
            .slider-slide Horizontal Slide 1
            .slider-slide 
              .slider-container.slider-init.ks-demo-slider(data-pagination=".slider-pagination-v", data-direction="vertical", data-paginationHide="false")
                .slider-pagination.slider-pagination-v
                .slider-wrapper
                  .slider-slide Vertical Slide 1
                  .slider-slide Vertical Slide 2
                  .slider-slide Vertical Slide 3
            .slider-slide Horizontal Slide 3
            .slider-slide Horizontal Slide 4