.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back-blue 
        span Back
    .center.sliding Sortable List
    .right
      a(href="#").link.sortable-toggle.icon-only Edit
.pages.navbar-through
  .page(data-page="sortable-list")
    .page-content
      .content-block
        p Just click "Edit" button on navigation bar to enable sorting
      .list-block.sortable
        ul
          li
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title 1 Jenna Smith
                .item-after CEO
            .sortable-handler
          li
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title 2 John Doe
                .item-after Director
            .sortable-handler
          li
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title 3 John Doe
                .item-after Developer
            .sortable-handler
          li
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title 4 Aaron Darling
                .item-after Manager
            .sortable-handler
          li
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title 5 Calvin Johnson
                .item-after Accounter
            .sortable-handler
          li
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title 6 John Smith
                .item-after SEO
            .sortable-handler
          li
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title 7 Chloe
                .item-after Manager
            .sortable-handler
          