.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back 
        span Back
    .center.sliding Swipe To Delete
    .right
      a(href="#").open-panel.link.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="swipe-delete")
    .page-content
      .content-block 
        p Swipe out actions on list elements is one of the most awesome F7 features. It allows you to call hidden menu for each list element where you can put default ready-to use delete button or any other buttons for some required actions. 
      .content-block-title Swipe to delete with confirm modal
      .list-block
        ul
          li.swipeout
            .item-content.swipeout-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Swipe left on me please
            .swipeout-actions
              .swipeout-actions-inner
                a(href="#", data-confirm="Are you sure you want to delete this item?").swipeout-delete Delete
          li.swipeout
            .item-content.swipeout-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Swipe left on me too
            .swipeout-actions
              .swipeout-actions-inner
                a(href="#", data-confirm="Are you sure you want to delete this item?").swipeout-delete Delete
          li
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title I am not removable
      .content-block-title Swipe to delete without confirm
      .list-block
        ul
          li.swipeout
            .item-content.swipeout-content
              .item-inner 
                .item-title Swipe left on me please
            .swipeout-actions
              .swipeout-actions-inner
                a(href="#").swipeout-delete Delete
          li.swipeout
            .item-content.swipeout-content
              .item-inner 
                .item-title Swipe left on me too
            .swipeout-actions
              .swipeout-actions-inner
                a(href="#").swipeout-delete Delete
          li
            .item-content
              .item-inner 
                .item-title I am not removable
      .content-block-title Swipe for actions
      .list-block
        ul
          li.swipeout
            .item-content.swipeout-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Swipe left on me please
            .swipeout-actions
              .swipeout-actions-inner
                a(href="#").demo-actions More
                a(href="#").swipeout-delete Delete
          li.swipeout
            .item-content.swipeout-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Swipe left on me too
            .swipeout-actions
              .swipeout-actions-inner
                a(href="#").demo-actions More
                a(href="#").swipeout-delete Delete
          li.swipeout
            .item-content.swipeout-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title You can't delete me
            .swipeout-actions
              .swipeout-actions-inner
                a(href="#").demo-actions More
      .content-block-title With callback on remove
      .list-block
        ul
          li.swipeout.demo-remove-callback
            .item-content.swipeout-content
              .item-inner 
                .item-title Swipe left on me please
            .swipeout-actions
              .swipeout-actions-inner
                a(href="#").swipeout-delete Delete
          li.swipeout.demo-remove-callback
            .item-content.swipeout-content
              .item-inner 
                .item-title Swipe left on me too
            .swipeout-actions
              .swipeout-actions-inner
                a(href="#").swipeout-delete Delete
          li
            .item-content
              .item-inner 
                .item-title I am not removable