.md {
  .subnavbar {
    height: var(--f7-subnavbar-height);
    .title {
      margin: 0 16px;
    }
    .ltr ({
      .title:first-child {
        margin-left: 56px;
      }
      .right {
        margin-left: auto;
      }
      .right:first-child {
        right: 16px;
      }
    });
    .rtl ({
      .title:first-child {
        margin-right: 56px;
      }
      .right {
        margin-right: auto;
      }
      .right:first-child {
        left: 16px;
      }
    });
    a {
      color: inherit;
    }
    a.link {
      .link-highlight();
      justify-content: center;
      padding: 0 16px;
    }
    a.icon-only {
      flex-shrink: 0;
    }
  }
  .subnavbar-inner {
    padding: 0 calc(16px + var(--f7-safe-area-right)) 0 calc(16px + var(--f7-safe-area-left));
    .ltr({
      > a.link:first-child {
        margin-left: -16px;
      }
      > a.link:last-child {
        margin-right: -16px;
      }
    });
    .rtl({
      > a.link:first-child {
        margin-right: -16px;
      }
      > a.link:last-child {
        margin-left: -16px;
      }
    });
  }
}
