.ios {
  .link {
    transition: opacity 300ms;
    i + span, i + i, span + i, span + span {
      .ltr({
        margin-left: 7px;
      });
      .rtl({
        margin-right: 7px;
      });
    }
    &.active-state {
      opacity: 0.3;
      transition-duration: 0ms;
    }
  }
}
