:root {
  --f7-link-highlight-black: rgba(0,0,0,0.1);
  --f7-link-highlight-white: rgba(255,255,255,0.15);
  --f7-link-highlight-color: var(--f7-link-highlight-black);
}
.theme-dark {
  --f7-link-highlight-color: var(--f7-link-highlight-white);
}