.ios {
  --f7-toggle-handle-color: #fff;
  --f7-toggle-width: 52px;
  --f7-toggle-height: 32px;
  --f7-toggle-border-color-ios: #e5e5e5;
  --f7-toggle-inactive-color: #fff;
  .theme-dark, &.theme-dark {
    --f7-toggle-border-color-ios: #555;
    --f7-toggle-inactive-color: #222;
  }
}
.md {
  --f7-toggle-handle-color: #fff;
  --f7-toggle-width: 36px;
  --f7-toggle-height: 14px;
  --f7-toggle-inactive-color: #b0afaf;
  .theme-dark, &.theme-dark {
    --f7-toggle-inactive-color: #555;
  }
}