.md {
  @import (multiple) '../../less/colors-md.less';
  .card {
    margin: 8px;
    .md-depth(1);
  }
  .card-header, .card-footer {
    a.link {
      .button;
      .md-button();
    }
    a.icon-only {
      min-width: 48px;
    }
  }

  .page-content > .card:last-child {
    margin-bottom: 32px;
  }

  .card-content-inner {
    padding: 16px;
  }

  .card-header, .card-footer {
    min-height: 48px;
    padding: 4px 16px;
  }

  .card-header {
    font-size: 16px;
  }

  .card-footer {
    color: #757575;
  }
}


