.aurora {
  .treeview-toggle {
    &:hover {
      background-color: var(--f7-treeview-toggle-hover-bg-color);
    }
    &.active-state {
      background-color: var(--f7-treeview-toggle-pressed-bg-color);
    }
  }
  .treeview-item-selectable > .treeview-item-root,
  .treeview-item-selectable.treeview-item-root {
    &:hover {
      background: var(--f7-treeview-selectable-hover-bg-color);
    }
  }
  a.treeview-item-root {
    &:hover {
      background: var(--f7-treeview-link-hover-bg-color);
    }
    &.active-state {
      background: var(--f7-treeview-link-pressed-bg-color);
    }
  }
  .treeview-item-selected > .treeview-item-root:hover,
  .treeview-item-selected.treeview-item-root:hover {
    background: var(--f7-treeview-selectable-selected-bg-color, rgba(var(--f7-theme-color-rgb), 0.2));
  }
}
