/* === Cards === */
.cards-list, .card .list-block {
    ul {
        background: none;
    }
    > ul {
        .hairline-remove(top);
        .hairline-remove(bottom);
    }
}
.card {
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    margin: 10px;
    position: relative;
    border-radius: 2px;
    font-size: 14px;
    .list-block, .content-block {
        margin: 0;
    }
    .row:not(.no-gutter) .col > & {
        margin-left: 0;
        margin-right: 0;
    }
}
.card-content {
    position: relative;
}
.card-content-inner {
    padding: 15px;
    position: relative;
    > p:first-child {
        margin-top: 0;
    }
    > p:last-child {
        margin-bottom: 0;
    }
    > .list-block, >.content-block {
        margin: -15px;
    }
}
.card-header, .card-footer {
    min-height: 44px;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    .flexbox();
    .justify-content(space-between);
    .align-items(center);
    &[valign="top"] {
        .align-items(flex-start);
    }
    &[valign="bottom"] {
        .align-items(flex-end);
    }
    a.link {
        line-height: 44px;
        height: 44px;
        text-decoration: none;
        position: relative;
        margin-top: -10px;
        margin-bottom: -10px;
        .flexbox();
        .justify-content(flex-start);
        .align-items(center);
        .transition(300ms);
        html:not(.watch-active-state) &:active, &.active-state {
            opacity: 0.3;
            .transition(0ms);
        }
        i+span, i+i, span+i, span+span {
            margin-left: 7px;
        }
        i.icon {
            display: block;
        }
    }
    a.icon-only {
        min-width: 44px;
        .flexbox();
        .justify-content(center);
        .align-items(center);
        margin: 0;
    }
}
.card-header {
    border-radius: 2px 2px 0 0;
    font-size: 17px;
    .hairline(bottom, #e1e1e1);
    &.no-border {
        .hairline-remove(bottom);
    }
}
.card-footer {
    border-radius: 0 0 2px 2px;
    color:#6d6d72;
    .hairline(top, #e1e1e1);
    &.no-border {
        .hairline-remove(top);
    }

}
.safe-areas-landscape({
  .safe-area-left({
    .card:not(.no-ios-edges):not(.no-ios-left-edge) {
      margin-left: ~"calc(10px + constant(safe-area-inset-left))";
      margin-left: ~"calc(10px + env(safe-area-inset-left))";
    }
  });
  .safe-area-right({
    .card:not(.no-ios-edges):not(.no-ios-right-edge) {
      margin-right: ~"calc(10px + constant(safe-area-inset-right))";
      margin-right: ~"calc(10px + env(safe-area-inset-right))";
    }
  });
});