/* === Login screen === */
.login-screen-content {
    background: #fff;
    .login-screen-title, .list-block, .content-block, .list-block-label {
        max-width: 480px;
        margin: 25px auto;
    }
    .list-block ul {
        .hairline-remove(top);
        .hairline-remove(bottom);
        background: none;
    }
    .list-block-label {
        text-align: center;
    }
}
.login-screen-title {
    text-align: center;
    font-size: 30px;
}