/* === Message Bar === */
.messagebar {
    .translate3d(0,0,0);
    .transition(0ms);
    background: #fff;
    .hairline-remove(top);
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #c8c8cd;
        background: #fff;
        border-radius: 17px;
        box-shadow: none;
        display: block;
        padding: 6px 8px 6px 15px;
        margin: 0;
        width: 100%;
        height: 34px;
        color: #000;
        font-size: 17px;
        line-height: 20px;
        font-family: inherit;
        resize:none;
        .flex-shrink(1);
    }
    .link {
        .align-self(flex-end);
    }
    .link.icon-only:first-child {
        margin-left: -6px;
    }
    .link:not(.icon-only) + textarea {
        margin-left: 8px;
    }
    textarea + .link {
        margin-left: 8px;
    }
    .messagebar-send-link {
        position: absolute;
        right: 8px;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        background: @themeColor;
        margin-right: 4px;
        bottom: 9px;
        text-align: center;
        line-height: 27px;
        font-size: 0;
        html:not(.watch-active-state) &:active, &.active-state {
            opacity: 0.3;
        }
        i.icon {
            position: absolute;
            left: 50%;
            top: 50%;
            .transform(translate3d(-50%, -50%, 0));
        }
        + textarea {
            padding-right: 27px + 4px + 8px;
        }
    }
    .link {
        .flex-shrink(0);
    }
    ~ .page-content {
        padding-bottom: @toolbarSize;
    }
    .page.no-toolbar & ~.page-content {
        padding-bottom: @toolbarSize;
    }
    .hidden-toolbar & {
        .translate3d(0,0,0);
        .transition(0ms);
    }
}
