/* === Notifications === */
@notificationsDuration: 450ms;
.notifications {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20000;
    font-size: 14px;
    margin: 0;
    border: none;
    display: none;
    box-sizing: border-box;
    max-height: 100%;
    .transition(@notificationsDuration);
    -webkit-perspective: 1200px;
    perspective: 1200px;
    padding-top: 8px;
    padding-bottom: 8px;
    &.list-block > ul {
        .hairline-remove(top);
        .hairline-remove(bottom);
        background: none;
        margin: 0 auto;
        max-width: 568px + 16px;
    }
    .with-statusbar-overlay & {
        padding-top: 20px;
        .translate3d(0, -20px, 0);
    }
    .with-statusbar-overlay.device-iphone-x & {
        padding-top: constant(safe-area-inset-top);
        padding-top: env(safe-area-inset-top);
        .translate3d(0, -constant(safe-area-inset-top), 0);
        .translate3d(0, -env(safe-area-inset-top), 0);
    }
    .item-content {
        padding-left: 8px;
        .align-items(flex-start);
    }
    .item-title-row {
        margin-bottom: 8px;
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            height: 36px;
            border-radius: 12px 12px 0 0;
            z-index: -1;
            background: #fff;
            content: '';
            width: 100%;
        }
    }
    .item-title {
        font-weight: 400 !important;
        height: 36px;
        text-transform: uppercase;
        line-height: 35px;
        font-size: 13px;
        html.ios-gt-8 & {
            font-weight: 400 !important;
        }
    }
    .item-subtitle {
        font-size: 15px;
        font-weight: 500;
        html.ios-gt-8 & {
            font-weight: 600;
        }
    }
    .item-text {
        font-size: 14px;
        color: inherit;
        height: auto;
        line-height: inherit;
    }
    .item-subtitle, .item-text {
        &:first-child {
            margin-top: 8px;
        }
    }
    .item-content, .item-inner {
        min-height: 0;
    }
    .item-inner {
        position: static;
        .hairline-remove(bottom);
    }
    .item-media {
        width: 20px;
        img {
            max-width: 20px;
            max-height: 20px;
        }
        i.icon {
            width: 20px;
            height: 20px;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        + .item-inner {
            margin-left: 8px;
            overflow: visible;
        }
    }
    li.notification-item {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
        .item-inner {
            padding-top: 0;
        }
        .item-media {
            padding-top: 8px;
        }

    }
    .item-after {
        margin-top: auto;
        margin-bottom: auto;
    }
    .close-notification {
        width: 22px;
        height: 22px;
        .encoded-svg-background("<svg viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><path d='M22.5,20.3786797 L14.7218254,12.6005051 L12.6005051,14.7218254 L20.3786797,22.5 L12.6005051,30.2781746 L14.7218254,32.3994949 L22.5,24.6213203 L30.2781746,32.3994949 L32.3994949,30.2781746 L24.6213203,22.5 L32.3994949,14.7218254 L30.2781746,12.6005051 L22.5,20.3786797 Z M22,44 C34.1502645,44 44,34.1502645 44,22 C44,9.8497355 34.1502645,0 22,0 C9.8497355,0 0,9.8497355 0,22 C0,34.1502645 9.8497355,44 22,44 Z' fill='#000000'></path></g></svg>");
        background-position: center top;
        background-repeat: no-repeat;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        position: relative;
        opacity: 0.2;
        span {
            position: absolute;
            width: 44px;
            height: 44px;
            left: 50%;
            top: 50%;
            margin-left: -22px;
            margin-top: -22px;
        }
    }
    .notification-item {
        max-width: 568px;
        margin: 0 auto 8px;
        .transition(@notificationsDuration);
        .translate3d(0,0,0);
        opacity: 1;
        background: rgba(250,250,250,0.95);
        border-radius: 12px;
        width: ~"-webkit-calc(100% - 16px)";
        width: ~"-moz-calc(100% - 16px)";
        width: ~"calc(100% - 16px)";
        position: absolute;
        left: 8px;
        top: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .notification-hidden {
        opacity: 0;
        .translate3d(0,0,0);
    }
}