/* Your app custom files in this file */

.view-left {
    border-right: 1px solid #b2b2b2;
}

/* iPad Vertical */
@media (min-width:768px) {
    .panel.panel-left.panel-cover {
        width: 320px;
    }
}
/* iPad Horizontal */
@media (min-width:1024px) {
    /* Let's hide panel-opener when left panel is visible */
    .view-main .navbar .open-panel {
        display: none;
    }
}
