.badge {
    font-size: 13px;
    display: inline-block;
    color:#000;
    background: #ddd;
    border-radius: 20px;
    padding: 1px 7px;
    .border-box();
    &.badge-red {
        background: #ff3b30;
        color:#fff;
    }
    &.badge-green {
        background: #4cd964;
        color:#fff;
    }
    &.badge-black {
        background: #000;
        color:#fff;
    }
}
.icon .badge {
    position: absolute;
    left: 100%;
    margin-left: -10px;
    top: -2px;
    font-size: 10px;
    padding: 1px 5px;
}    