@blue: #007aff;
@red: #ff3b30;
@white: #ffffff;
@black: #000000;
@lightblue: #5ac8fa;
@yellow: #ffcc00;
@orange: #ff9500;
@pink: #ff2d55;
@green: #4cd964;
@gray: #8e8e93;

@themeColor: @blue;

@barsBg: #f7f7f8;
@barsBorderColor: #c4c4c4;
@blockBorderColor: #c8c7cc;
