/* 
==========================
Framework7 Themes & Colors 
==========================
*/

/* === Dark theme === */
[data-theme="dark"] {
    @pageBg: #222;
    @barsBg: #131313;
    @barsBorder: #333;
    @barsText: #fff;
    @tabBarText: #fff;
    @text: #ddd;
    @lightText: #bbb;
    @strongText: #fff;
    @activeLink: #333;
    @blockBg: @pageBg;
    @blockBorder: #393939;
    @blockStrongBg: #191919;
    @dividerBg: #1a1a1a;
    @itemAfterText: @lightText;
    @searchbarBg: #333;
    @searchbarBorder: #333;
    @swipeoutButton: #444;
    @checkboxBorder: @blockBorder;
    .navbar, &.navbar {
        border-bottom-color: @barsBorder;
        background-color: @barsBg;
        color:@barsText;
    }
    .toolbar, &.toolbar {
        border-top-color: @barsBorder;
        background-color: @barsBg;
        color:@barsText;
    }
    .tabbar a:not(.active) {
        color:@tabBarText;
    }
    .page, .login-screen-content, &.page {
        background-color: @pageBg;
        color:@text;
    }
    .content-block-title {
        color:@strongText;
    }
    .content-block, &.content-block {
        color:@lightText;
    }
    .content-block-inner {
        background: @blockStrongBg;
        color:@text;
        border-color: @blockBorder;
    }
    .list-block, &.list-block {
        ul {
            background: @blockBg;
            border-color: @blockBorder;
        }
        &.inset ul{
            background: @blockStrongBg;
        }
    }
    li.sorting {
        background-color: @activeLink;
    }
    .swipeout-content {
        background: @blockBg;
    }
    .swipeout-actions {
        border-bottom-color: @blockBorder;
    }
    .swipeout-actions-inner a {
        background-color: @swipeoutButton;
    }
    .item-inner, .list-block ul ul li:last-child .item-inner {
        border-color: @blockBorder;
    }
    .item-after {
        color:@itemAfterText;
    }
    .item-link:active, label.label-checkbox:active, label.label-radio:active {
        background-color: @activeLink;
    }
    .item-link.list-button {
        border-bottom-color: @blockBorder;
    }
    .list-block-label {
        color:@lightText;
    }
    .item-divider, .list-group-title {
        background: @dividerBg;
        color:@lightText;
        border-top-color: @blockBorder;
    }
    
    // Searchbar
    .searchbar {
        background: @searchbarBg;
        border-bottom-color: @searchbarBorder;
    }

    // Forms
    .list-block, &.list-block {
        input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="number"], select, textarea {
            color:@strongText;
        }
    }
    .label-switch .checkbox {
        background-color: @checkboxBorder;
        &:before {
            background-color: @blockBg;
        }
    }
    .range-slider input[type="range"]:after {
        background: @blockBg;
    }
}

/* === White theme === */
[data-theme="white"] {
    @pageBg: #fff;
    @barsBg: #fff;
    @barsBorder: #ddd;
    @barsText: #000;
    @tabBarText: #777;
    @text: #000;
    @lightText: #777;
    @strongText: #777;
    @activeLink: #eee;
    @blockBg: @pageBg;
    @blockBorder: #ddd;
    @blockStrongBg: #fafafa;
    @dividerBg: #f7f7f7;
    @itemAfterText: #8e8e93;
    @searchbarBg: #c9c9ce;
    @searchbarBorder: #b4b4b4;
    @swipeoutButton: #c7c7cc;
    @checkboxBorder: #e5e5e5;
    .navbar, &.navbar {
        border-bottom-color: @barsBorder;
        background-color: @barsBg;
        color:@barsText;
    }
    .toolbar, &.toolbar {
        border-top-color: @barsBorder;
        background-color: @barsBg;
        color:@barsText;
    }
    .tabbar a:not(.active) {
        color:@tabBarText;
    }
    .page, .login-screen-content, &.page {
        background-color: @pageBg;
        color: @text;
    }
    .content-block-title {
        color:@strongText;
    }
    .content-block, &.content-block {
        color:@lightText;
    }
    .content-block-inner {
        background: @blockStrongBg;
        color:@text;
        border-color: @blockBorder;
    }
    .list-block, &.list-block {
        ul {
            background: @blockBg;
            border-color: @blockBorder;
        }
        &.inset ul{
            background: @blockStrongBg;
        }
    }
    li.sorting {
        background-color: @activeLink;
    }
    .swipeout-content {
        background: @blockBg;
    }
    .swipeout-actions {
        border-bottom-color: @blockBorder;
    }
    .swipeout-actions-inner a {
        background-color: @swipeoutButton;
    }
    .item-inner, .list-block ul ul li:last-child .item-inner {
        border-color: @blockBorder;
    }
    .item-after {
        color:@itemAfterText;
    }
    .item-link:active, label.label-checkbox:active, label.label-radio:active {
        background-color: @activeLink;
    }
    .item-link.list-button {
        border-bottom-color: @blockBorder;
    }
    .list-block-label {
        color:@lightText;
    }
    .item-divider, .list-group-title {
        background: @dividerBg;
        color:@lightText;
        border-top-color: @blockBorder;
    }
    
    // Searchbar
    .searchbar {
        background: @searchbarBg;
        border-bottom-color: @searchbarBorder;
    }

    // Forms
    .list-block, &.list-block {
        input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="number"], select, textarea {
            color:@strongText;
        }
    }
    .label-switch .checkbox {
        background-color: @checkboxBorder;
        &:before {
            background-color: @blockBg;
        }
    }
    .range-slider input[type="range"]:after {
        background: @blockBg;
    }
}