.grid-4 {
    overflow: hidden;
    clear: both;
    .col {
        float: left;
        margin-left: 2.5%;
        width: 23.125%;
    }
    .col:first-child {
        margin-left: 0;
    }
}
.grid-3 {
    clear: both;
    overflow: hidden;
    .col {
        float: left;
        margin-left: 2.5%;
        width: 31.66666666666667%;
    }
    .col:first-child {
        margin-left: 0;
    }
}
.grid-2 {
    clear: both;
    overflow: hidden;
    .col {
        float: left;
        margin-left: 2.5%;
        width: 48.75%;
    }
    .col:first-child {
        margin-left: 0;
    }
}