/* === Icons === */
i {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    &.icon-back-blue {
        background-image: url(../img/i-back-blue.png);
        width: 11px;
        height: 20px;
    }
    &.icon-back-white {
        background-image: url(../img/i-back-white.png);
        width: 11px;
        height: 20px;
    }
    &.icon-back-black {
        background-image: url(../img/i-back-black.png);
        width: 11px;
        height: 20px;
    }
    &.icon-bars-blue {
        background-image: url(../img/i-bars-blue.png);
        width: 20px;
        height: 14px;
    }
}