/* === Preloader === */
.preloader {
    width: 28px;
    height: 28px;
    display: inline-block;
    position: relative;
    span {
        width: 2/28*100%; //Should be 2 pixels
        height: 8/28*100%; //Should be 8 pixels
        min-width: 1px;
        min-height: 1px;
        background: #575f6c;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -1/28*100%; // Should be -1px
        top: 0;
        .transform-origin(50% 14/8*100%); //Should be 50% 14px
        opacity: 0;
    }
}
.modal .preloader {
    width: 34px;
    height: 34px;
}
.preloader-loop(@i) when (@i < 13){
    .preloader span:nth-child(@{i}) {
        @deg: (@i - 1) * 30deg;
        @duration: 900ms;
        @delay: (@i - 1) * (@duration/12);
        .transform(rotate(@deg));
        .animation(~"preloaderStickPulsate @{duration} @{delay} infinite");
    }
    .preloader-loop(@i + 1);
}
.preloader-loop(1);

@-webkit-keyframes preloaderStickPulsate {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes preloaderStickPulsate {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes preloaderStickPulsate {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}