/* === Gauge === */
.gauge {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.gauge-svg, .gauge svg {
  max-width: 100%;
  height: auto;
  circle, path {
    transition-duration: 400ms;
  }
}

& when (@includeIosTheme) {
  @import url('./gauge-ios.less');
}
& when (@includeMdTheme) {
  @import url('./gauge-md.less');
}
