/* === Autocomplete === */
.autocomplete-page {
    .autocomplete-found {
        display: block;
    }
    .autocomplete-not-found {
        display: none;
    }
    .autocomplete-values {
        display: block;
    }
    .list-block ul:empty {
        display: none;
    }
    .navbar .autocomplete-preloader{
        margin-right: 16px;
    }
}
.autocomplete-preloader:not(.autocomplete-preloader-visible) {
    -webkit-animation: none;
    animation: none;
    visibility: hidden;
}
.autocomplete-dropdown {
    background: #fff;
    box-sizing: border-box;
    position: absolute;
    z-index: 500;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    width: 100%;
    left: 0;
    .autocomplete-dropdown-inner {
        position: relative;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        z-index: 1;
    }
    .autocomplete-preloader {
        display: none;
        position: absolute;
        right: 16px;
        bottom: 100%;
        margin-bottom: 8px;
        width: 20px;
        height: 20px;
        .preloader-inner-gap, .preloader-inner-half-circle {
            border-width: 3px;
        }
    }
    .autocomplete-preloader-visible {
        display: block;
    }
    .autocomplete-dropdown-placeholder {
        color: #a9a9a9;
    }
    .list-block {
        margin: 0;
        color: rgba(0,0,0,0.54);
        ul {
            .hairline-remove(top);
            .hairline-remove(bottom);
            background: none !important;
        }
        b {
            font-weight: normal;
            color: #212121;
        }
    }
}