@imgBaseUrl: "../img";
html,body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #212121;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    -webkit-text-size-adjust:100%;
    background: #fff;
    overflow: hidden;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout:none;
}
a, input, textarea, select {
    outline: 0;
}

a {
    text-decoration: none;
    color: @themeColor;
}
p {
    margin: 1em 0;
}