/* === Statusbar overlay === */
html.with-statusbar-overlay .framework7-root {
    padding-top: 20px;
    box-sizing: border-box;
    .statusbar-overlay {
        display: block;
    }
    .panel {
        padding-top: 20px;
    }
}
.statusbar-overlay {
    background: @themeColor;
    z-index: 10000; // A bit lower than .modals-overlay
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    display: none;
    .transition(@panelsDuration);
}