button {
  appearance: none;
  width: 100%;
}
.button {
  text-decoration: none;
  text-align: center;
  display: block;
  appearance: none;
  background: none;
  margin: 0;
  white-space: nowrap;
  text-overflow:ellipsis;
  position: relative;
  overflow: hidden;
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  box-sizing: border-box;
  vertical-align: middle;
  border: none;
  font-size: var(--f7-button-font-size);
  color: var(--f7-button-color, var(--f7-theme-color));
  height: var(--f7-button-height);
  line-height: var(--f7-button-height);
  padding: 0 var(--f7-button-padding);;
  border-radius: var(--f7-button-border-radius);
  min-width: var(--f7-button-min-width);
  font-weight: var(--f7-button-font-weight);
  letter-spacing: var(--f7-button-letter-spacing);
  text-transform: var(--f7-button-text-transform);
  input[type="submit"]&, input[type="button"]&{
    width: 100%;
  }

  > i.icon + span,
  > span:not(.ripple-wave) + span,
  > span:not(.ripple-wave) + i.icon,
  > i.icon + i.icon {
    .ltr({
      margin-left: 5px;
    });
    .rtl({
      margin-right: 5px;
    });
  }

  &.button-round,
  .ios &.button-round-ios,
  .md &.button-round-md {
    --f7-button-border-radius: var(--f7-button-height);
  }
  &.button-fill,
  .ios &.button-fill-ios,
  .md &.button-fill-md,
  &.button-active,
  &.tab-link-active {
    background-color: var(--f7-button-color, var(--f7-theme-color));
    color: var(--f7-button-fill-text-color);
  }
  &.button-fill,
  .ios &.button-fill-ios,
  .md &.button-fill-md {
    &.active-state {
      background-color: var(--f7-button-fill-pressed-bg-color);
    }
  }
  &.button-outline,
  .ios &.button-outline-ios,
  .md &.button-outline-md,
  .ios &.button-small.button-fill,
  .ios &.button-small.button-fill-ios,
  .ios &.button-small-ios.button-fill {
    border: var(--f7-button-outline-border-width) solid var(--f7-button-color, var(--f7-theme-color));
    line-height: ~"calc(var(--f7-button-height) - var(--f7-button-outline-border-width) * 2)";
  }
  &.button-big,
  .ios &.button-big-ios,
  .md &.button-big-md {
    --f7-button-height: var(--f7-button-big-height);
    --f7-button-font-size: var(--f7-button-big-font-size, --f7-button-font-size);
  }
  &.button-small,
  .ios &.button-small-ios,
  .md &.button-small-md {
    --f7-button-height: var(--f7-button-small-height);
  }
}
.segmented {
  align-self: center;
  display: flex;
  flex-wrap: nowrap;
  border-radius: var(--f7-button-border-radius);
  &.segmented-round,
  .ios &.segmented-round-ios,
  .md &.segmented-round-md {
    border-radius: var(--f7-button-height);
  }
  .button, button {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
    border-radius: 0;
  }
  &.segmented-raised,
  .ios &.segmented-raised-ios,
  .md &.segmented-raised-md {
    .button {
      .ltr({
        border-left: 1px solid var(--f7-segmented-raised-divider-color);
      });
      .rtl({
        border-right: 1px solid var(--f7-segmented-raised-divider-color);
      });
    }
  }
  .button {
    .ltr({
      &:first-child {
        border-radius: var(--f7-button-border-radius) 0 0 var(--f7-button-border-radius);
        border-left: none;
      }
      &.button-outline {
        border: var(--f7-button-outline-border-width) solid var(--f7-button-color, var(--f7-theme-color));
        &:nth-child(n + 2) {
          border-left: none;
        }
      }
      &:last-child {
        border-radius: 0 var(--f7-button-border-radius) var(--f7-button-border-radius) 0;
      }
      &.button-round:first-child {
        border-radius: var(--f7-button-height) 0 0 var(--f7-button-height);
      }
      &.button-round:last-child {
        border-radius: 0 var(--f7-button-height) var(--f7-button-height) 0;
      }
    });
    .rtl({
      &:first-child {
        border-radius: 0 var(--f7-button-border-radius) var(--f7-button-border-radius) 0;
        border-right: none;
      }
      &.button-outline {
        border: var(--f7-button-outline-border-width) solid var(--f7-button-color, var(--f7-theme-color));
        &:nth-child(n + 2) {
          border-right: none;
        }
      }
      &:last-child {
        border-radius: var(--f7-button-border-radius) 0 0 var(--f7-button-border-radius);
      }
      &.button-round:first-child {
        border-radius: 0 var(--f7-button-height) var(--f7-button-height) 0;
      }
      &.button-round:last-child {
        border-radius: var(--f7-button-height) 0 0 var(--f7-button-height);
      }
    });
    &:first-child:last-child {
      border-radius: var(--f7-button-border-radius);
    }
  }
}
// Raised
.button.button-raised,
.ios .button.button-raised-ios,
.md .button.button-raised-md,
.segmented.segmented-raised,
.ios .segmented.segmented-raised-ios,
.md .segmented.segmented-raised-md {
  box-shadow: var(--f7-button-raised-box-shadow);
}
.button.button-raised,
.ios .button.button-raised-ios,
.md .button.button-raised-md {
  &.active-state {
    box-shadow: var(--f7-button-raised-pressed-box-shadow);
  }
}


.subnavbar .segmented {
  width: 100%;
}
& when (@includeIosTheme) {
  @import url('./button-ios.less');
}
& when (@includeMdTheme) {
  @import url('./button-md.less');
}
