.ios {
  // Buttons
  .button {
    transition-duration: 100ms;
  }
  .button-fill,
  .button-fill-ios {
    --f7-button-pressed-bg-color: var(--f7-button-fill-pressed-bg-color, var(--f7-theme-color-tint));
  }

  .button-small,
  .button-small-ios {
    transition-duration: 200ms;
  }
}