.navbar
  .navbar-inner
    .left.sliding
      a(href="#").back.link 
        i.icon.icon-back
        span Back
    .center.sliding Contacts
    .right
      a(href="#").link.icon-only.open-panel 
        i.icon.icon-bars
.pages
  .page(data-page="contacts")
    .page-content
      .content-block
        .content-block-inner
          p You can contact me using your iPhone by calling at {{tel}} or using iPad by emailing at {{email}}
          p My address is {{street}}, {{city}}, {{country}}, {{zip}}
          