.ios {
  @import (multiple) '../../less/colors-ios.less';
  .login-screen-content {
    .login-screen-title, .list, .block {
      margin: 25px auto;
    }
  }
  .login-screen-title {
    font-size: 30px;
  }
  // Dark Theme
  & when (@includeDarkTheme) {
    .theme-dark {
      .login-screen-content, .login-screen-content .list ul {
        background-color: transparent;
      }
    }
  }
}
