:root {
  --f7-popup-border-radius: 0px;
  --f7-popup-tablet-width: 630px;
  --f7-popup-tablet-height: 630px;
  /*
  --f7-popup-tablet-border-radius: 0px;
  */
}
.ios-vars({
  --f7-popup-box-shadow: none;
});
.md-vars({
  --f7-popup-box-shadow: 0px 20px 44px rgba(0,0,0,0.5);
});
.aurora-vars({
  --f7-popup-tablet-border-radius: 4px;
  --f7-popup-box-shadow: 0px 20px 44px rgba(0,0,0,0.5);
});