.md {
  .popover {
    transform: scale(0.85, 0.6);
    transition-property: opacity, transform;
    transition-duration: 300ms;

    &.modal-in {
      opacity: 1;
      transform: scale(1);
    }
    &.modal-out {
      opacity: 0;
      transform: scale(1);
    }
  }
}
