.md {
  .popover {
    transform: scale(0.85, 0.6);
    transition-property: opacity, transform;
    &.modal-in {
      opacity: 1;
      transform: scale(1);
    }
    &.modal-out {
      opacity: 0;
      transform: scale(1);
    }
  }
  .popover-on-top {
    transform-origin: center bottom;
  }
  .popover-on-bottom {
    transform-origin: center top;
  }
}
