* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	position: relative;
	background-color: transparent;
	font-family: Helvetica, Arial, sans-serif;
	color: #B3B3B6;/*#E0E0E1;*/
	font-size: 22px;
	line-height: 22px;
	
	/* Disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Disable default spatial navigation */
*:focus {
	outline: 0px solid black;
}

html {
	overflow: hidden;
}

body {
	width: 1280px;
	height: 720px;
/*	overflow: hidden;*/
	background-color: #0c0c0c;
	cursor: default;
}

.hidden {
	visibility: hidden;
}

.displayNone {
	display: none !important;
}

#playAdBtn {
	background-color: #fff200;
	color: #000000;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 50px;
}

#userGesture {
	background-color: #b5b5b5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

#userGesturePlay {
	background-image: url('../img/userGesturePlay.png');
	background-size: contain;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100px;
	height: 100px;
}

#log {
	background-color: #000000;
	color: #ff0000;
	font-size: 16px;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 999;
}