/* === Navbar === */
@import url('./navbar-vars.less');

.navbar {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0,0,0);
  height: var(--f7-navbar-height);
  background-color: var(--f7-navbar-bg-color, var(--f7-bars-bg-color, var(--f7-theme-color)));
  color: var(--f7-navbar-text-color, var(--f7-bars-text-color));
  font-size: var(--f7-navbar-font-size);
  b {
    font-weight: 500;
  }
  a {
    color: var(--f7-navbar-link-color, var(--f7-bars-link-color, var(--f7-theme-color)));
  }
  a.link {
    display: flex;
    justify-content: flex-start;
    line-height: var(--f7-navbar-height);
    height: var(--f7-navbar-height);
  }
  .title, .left, .right {
    position: relative;
    z-index: 1;
  }
  .title {
    text-align: center;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 10;
    font-weight: var(--f7-navbar-title-font-weight);
    display: inline-block;
  }
  .subtitle {
    display: block;
    color: var(--f7-navbar-subtitle-text-color);
    font-weight: normal;
  }
  .left, .right {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translate3d(0,0,0);
  }
  .right:first-child {
    position: absolute;
    height: 100%;
  }

  &.no-hairline, &.no-border {
    &:after {
      display: none !important;
    }
  }
  &.no-shadow, &.navbar-hidden {
    &:before {
      display: none !important;
    }
  }
  &:after, &:before {
    backface-visibility: hidden;
  }
  .hairline(bottom, var(--f7-navbar-border-color, var(--f7-bars-border-color)));
  .bar-shadow-bottom(var(--f7-navbar-shadow-image, var(--f7-bars-shadow-bottom-image)));
}
:root {
  @media (min-width: 768px) {
    --f7-navbar-height: var(--f7-navbar-tablet-height);
  }
}
// Transitions
.navbar-transitioning {
  transition-duration: var(--f7-navbar-hide-show-transition-duration);
}
.navbar-page-transitioning {
  transition-duration: var(--f7-page-swipeback-transition-duration);
}
// Hidden
.navbar-hidden {
  transform: translate3d(0, -100%, 0);
}
.navbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--f7-navbar-height);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  &.stacked {
    display: none;
  }
}
.views, .view, .page {
  > .navbar {
    position: absolute;
  }
}
// Relation with page
.navbar ~ * .page:not(.no-navbar) .page-content,
.navbar ~ .page:not(.no-navbar) .page-content,
.navbar ~ .page-content,
.navbar ~ :not(.page) .page-content {
  padding-top: var(--f7-navbar-height);
}

.navbar {
  transition: 300ms;
}
.navbar-large {
  height: 44px + 52px;
}
.navbar-current.navbar-inner-large {
  .title,
  .title.sliding {
    transition: 300ms;
  }
}
.navbar-inner-large:not(.navbar-inner-large-collapsed) {
  .title,
  .title.sliding {
    opacity: 0;
  }
}
.navbar .title-large {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 100%;
  margin-bottom: 8px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 44px;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.2;
  transform: translateY(0px);
  letter-spacing: -0.03em;
  transform-origin: left center;
  transition: 400ms;
}
.navbar-no-title-large-transition {
  .title-large {
    transition-duration: 0ms;
  }
}
.navbar-inner-large-collapsed {
  height: 44px;
  .title {
    opacity: 1;
  }
  .title-large {
    height: 0;
  }
}
.navbar-previous {
  .title-large {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    transition: 0ms;
  }
}
.navbar-next {
  .title-large {
    transform: translateX(100%) scale(1);
    opacity: 0;
    transition: 0ms;
  }
}
.router-transition-css-backward {
  .title-large {
    transition: 0ms;
  }
  .navbar-previous .title-large {
    animation: ios-navbar-title-large-previous-to-current var(--f7-page-transition-duration) forwards;
  }
  .navbar-current .left .back span {
    animation: ios-navbar-back-text-previous-to-current var(--f7-page-transition-duration) forwards;
    transform-origin: left center;
  }
  .navbar-current .title-large {
    animation: ios-navbar-title-large-current-to-next var(--f7-page-transition-duration) forwards;
  }
}

.router-transition-css-forward {
  .title-large {
    transition: 0ms;
  }
  .navbar-current .title-large {
    animation: ios-navbar-title-large-current-to-previous var(--f7-page-transition-duration) forwards;
  }
  .navbar-next .left .back span {
    animation: ios-navbar-back-text-current-to-previous var(--f7-page-transition-duration) forwards;
    transform-origin: left center;
  }
  .navbar-next .title-large {
    animation: ios-navbar-title-large-next-to-current var(--f7-page-transition-duration) forwards;
  }
}
@keyframes ios-navbar-title-large-previous-to-current {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}
@keyframes ios-navbar-title-large-current-to-previous {
  0% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}

@keyframes ios-navbar-back-text-previous-to-current {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(44px) scale(2);
  }
}
@keyframes ios-navbar-back-text-current-to-previous {
  0% {
    opacity: 0;
    transform: translateY(44px) scale(2);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes ios-navbar-title-large-next-to-current {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(1);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}
@keyframes ios-navbar-title-large-current-to-next {
  0% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(100%) scale(1);
  }
}

& when (@includeIosTheme) {
  @import url('./navbar-ios.less');
}
& when (@includeMdTheme) {
  @import url('./navbar-md.less');
}
