.md {
  .navbar {
    .md-bar-shadow-to-bottom();
    &.no-shadow {
      .md-bar-no-shadow();
    }
    a.link {
      padding: 0 16px;
      min-width: 48px;
      .md-link-highlight();
    }
    a.icon-only {
      min-width: 0;
      flex-shrink: 0;
    }
    .title {
      margin: 0 16px;
      line-height: 1.2;
      text-align: left;
    }
    .subtitle {
      line-height: 1.2;
      font-size: 14px;
    }
    .right {
      .ltr({
        margin-left: auto;
      });
      .rtl({
        margin-right: auto;
      });
    }
    .right:first-child {
      .ltr({
        right: 16px;
      });
      .rtl({
        left: 16px;
      });
    }
  }
  .navbar-inner {
    justify-content: flex-start;
    overflow: hidden;
    padding: 0 var(--f7-safe-area-right) 0 var(--f7-safe-area-left);
  }
  .page-with-subnavbar .navbar-inner {
    overflow: visible;
  }

  // Relation with page
  .navbar ~ * .page-content, .navbar ~ .page-content {
    padding-top: var(--f7-navbar-height);
  }

  @media (min-width: 768px) {
    --f7-navbar-height: var(--f7-navbar-tablet-size);
  }

  // Hidden
  .navbar-hidden {
    .md-bar-no-shadow();
  }
}
