.page(data-page="accordion")
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Accordion
      .right
        a(href="#").open-panel.link.icon-only
          i.icon.icon-bars
  .page-content
    .content-block-title List View Accordion
    .list-block.accordion-list
      ul
        li.accordion-item
          a(href="#").item-link.item-content
            .item-inner 
              .item-title Lorem Ipsum
          .accordion-item-content
            .content-block
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. Integer semper arcu nibh, non mollis arcu tempor vel. Sed pharetra tortor vitae est rhoncus, vel congue dui sollicitudin. Donec eu arcu dignissim felis viverra blandit suscipit eget ipsum.
        li.accordion-item
          a(href="#").item-link.item-content
            .item-inner 
              .item-title Nested List
          .accordion-item-content
            .list-block
              ul
                li
                  .item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner 
                      .item-title Item 1
                li
                  .item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner 
                      .item-title Item 2
                li
                  .item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner 
                      .item-title Item 3
                li
                  .item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner 
                      .item-title Item 4
        li.accordion-item
          a(href="#").item-link.item-content
            .item-inner 
              .item-title Integer semper
          .accordion-item-content
            .content-block
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. Integer semper arcu nibh, non mollis arcu tempor vel. Sed pharetra tortor vitae est rhoncus, vel congue dui sollicitudin. Donec eu arcu dignissim felis viverra blandit suscipit eget ipsum.
    .content-block-title Inset Accordion
    .list-block.accordion-list.inset
      ul
        li.accordion-item
          a(href="#").item-link.item-content
            .item-inner 
              .item-title Lorem Ipsum
          .accordion-item-content
            .content-block
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. Integer semper arcu nibh, non mollis arcu tempor vel. Sed pharetra tortor vitae est rhoncus, vel congue dui sollicitudin. Donec eu arcu dignissim felis viverra blandit suscipit eget ipsum.
        li.accordion-item
          a(href="#").item-link.item-content
            .item-inner 
              .item-title Nested List
          .accordion-item-content
            .list-block
              ul
                li
                  .item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner 
                      .item-title Item 1
                li
                  .item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner 
                      .item-title Item 2
                li
                  .item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner 
                      .item-title Item 3
                li
                  .item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner 
                      .item-title Item 4
        li.accordion-item
          a(href="#").item-link.item-content
            .item-inner 
              .item-title Integer semper
          .accordion-item-content
            .content-block
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. Integer semper arcu nibh, non mollis arcu tempor vel. Sed pharetra tortor vitae est rhoncus, vel congue dui sollicitudin. Donec eu arcu dignissim felis viverra blandit suscipit eget ipsum.
    