.page(data-page="navbars-toolbars")
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Navbars And Toolbars
      .right
        a(href="#").link.open-panel.icon-only
          i.icon.icon-bars
  .page-content
    .list-block
      ul
        
        li
          a(href="bars-tabbar.html").item-link 
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Tab Bar
        li
          a(href="bars-tabbar-labels.html").item-link 
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Tab Bar With Labels
        li
          a(href="bars-hide-on-scroll.html").item-link 
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Hide Bars On Scroll
        li
          a(href="bars-sub-navbar.html").item-link 
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Sub Navbar
        li
          a(href="bars-sub-navbar-title.html").item-link 
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Sub Navbar Title