.page(data-page="contacts")
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Contacts
      .right
        a(href="#").open-panel.link.icon-only
          i.icon.icon-bars
  .page-content.contacts-content
    .list-block.contacts-block
      .list-group
        ul
          li.list-group-title A
          li
            .item-content
              .item-inner
                .item-title Aaron 
          li
            .item-content
              .item-inner
                .item-title Abbie
          li
            .item-content
              .item-inner
                .item-title Adam
          li
            .item-content
              .item-inner
                .item-title Adele
          li
            .item-content
              .item-inner
                .item-title Agatha
          li
            .item-content
              .item-inner
                .item-title Agnes
          li
            .item-content
              .item-inner
                .item-title Albert
          li
            .item-content
              .item-inner
                .item-title Alexander
      .list-group
        ul
          li.list-group-title B
          li
            .item-content
              .item-inner
                .item-title Bailey
          li
            .item-content
              .item-inner
                .item-title Barclay
          li
            .item-content
              .item-inner
                .item-title Bartolo
          li
            .item-content
              .item-inner
                .item-title Bellamy
          li
            .item-content
              .item-inner
                .item-title Belle
          li
            .item-content
              .item-inner
                .item-title Benjamin
      .list-group
        ul
          li.list-group-title C
          li
            .item-content
              .item-inner
                .item-title Caiden
          li
            .item-content
              .item-inner
                .item-title Calvin
          li
            .item-content
              .item-inner
                .item-title Candy
          li
            .item-content
              .item-inner
                .item-title Carl
          li
            .item-content
              .item-inner
                .item-title Cherilyn
          li
            .item-content
              .item-inner
                .item-title Chester
          li
            .item-content
              .item-inner
                .item-title Chloe
      .list-group
        ul
          li.list-group-title V
          li
            .item-content
              .item-inner
                .item-title Vladimir
        