.page(data-page="floating-button")
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Floating Action Button
      .right
        a(href="#").open-panel.link.icon-only
          i.icon.icon-bars
  .page-content
    .list-block
      ul
        li
          a(href="floating-button-static.html").item-content.item-link
            .item-media
              i.icon.icon-f7
            .item-inner
              .item-title Static Floating Action Button
        li
          a(href="floating-button-dial.html").item-content.item-link
            .item-media
              i.icon.icon-f7
            .item-inner
              .item-title Speed Dial
              .item-after
                span.badge.bg-green NEW
        li
          a(href="floating-button-popover.html").item-content.item-link
            .item-media
              i.icon.icon-f7
            .item-inner
              .item-title Morph To Popover
              .item-after
                span.badge.bg-green NEW