.page(data-page="floating-button")
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Floating Action Button
      .right
        a(href="#").open-panel.link.icon-only
          i.icon.icon-bars
  .page-content
    .content-block
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae porta enim. Sed ultricies lacinia mauris, non tincidunt sem eleifend eget. Duis convallis quis sem non volutpat. Morbi risus lorem, dapibus et nulla ac, pharetra maximus elit. Etiam vitae lacus a dui hendrerit ornare vitae id est. Pellentesque ut tortor id sem maximus lobortis at egestas nulla. Nulla pretium, nunc et porta ullamcorper, sem lorem elementum massa, rhoncus ullamcorper odio dui vel mauris. Ut lobortis neque congue eros posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. In sem dolor, tempus eu tellus quis, vulputate malesuada felis.
    .list-block
      ul
        li
          a(href="floating-button-static.html").item-content.item-link
            .item-media
              i.icon.icon-f7
            .item-inner
              .item-title Static Floating Action Button
        li
          a(href="floating-button-dial.html").item-content.item-link
            .item-media
              i.icon.icon-f7
            .item-inner
              .item-title Speed Dial
              .item-after
                span.badge.bg-green NEW
        li
          a(href="floating-button-popover.html").item-content.item-link
            .item-media
              i.icon.icon-f7
            .item-inner
              .item-title Morph To Popover
              .item-after
                span.badge.bg-green NEW