.page(data-page="form-buttons")
  .navbar
    .navbar-inner
      .left.sliding
        a(href="forms.html").back.link
          i.icon.icon-back
          span Forms
      .center Buttons
      .right
        a(href="#").link.open-panel.icon-only
          i.icon.icon-bars
  .page-content
    .content-block-title Flat Buttons
    .content-block
      .row
        .col-33
          a(href="#").button Button
        .col-33
          a(href="#").button Button
        .col-33
          a(href="#").button Button
    .content-block
      .row
        .col-50
          a(href="#").button Button
        .col-50
          a(href="#").button Button
    .content-block-title Raised Buttons
    .content-block
      .row
        .col-33
          a(href="#").button.button-raised.button-fill.color-blue Button
        .col-33
          a(href="#").button.button-raised Button
        .col-33
          a(href="#").button.button-raised Button
    .content-block-title Buttons Row
    .content-block
      .buttons-row
        a(href="#").button.button-raised Button
        a(href="#").button.button-raised Button
        a(href="#").button.button-raised Button
    .content-block-title Color BUTTONS
    .content-block
      .row
        .col-33
          a(href="#").button.color-red Button
        .col-33
          a(href="#").button.color-green Button
        .col-33
          a(href="#").button.color-blue Button
    .content-block-title LIST-BLOCK BUTTONS
    .card
      .list-block
        ul
          li
            a(href="#").list-button.item-link List Button 1
          li
            a(href="#").list-button.item-link List Button 2
          li
            a(href="#").list-button.item-link List Button 2
    