.page(data-page="forms")
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Forms
      .right
        a(href="#").link.open-panel.icon-only
          i.icon.icon-bars
  .page-content
    .content-block
      p Framework7 provides very flexible forms layout, you can use it with/out icons, with/out labels, or mixed layouts.
    .list-block
      ul
        li
          a(href="forms-elements.html").item-link
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Form Elements
        li
          a(href="forms-checkboxes.html").item-link
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Checkboxes And Radios
        li
          a(href="forms-selects.html").item-link
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Smart Selects
        li
          a(href="forms-buttons.html").item-link
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Buttons
        li
          a(href="forms-storage.html").item-link
            .item-content
              .item-media
                i.icon.icon-f7
              .item-inner 
                .item-title Form Storage