.page(data-page="form-buttons")
  .navbar
    .navbar-inner
      .left
        a(href="forms.html").back.link
          i.icon.icon-back
      .center Buttons
      .right
        a(href="#").link.open-panel.icon-only
          i.icon.icon-bars
  .page-content
    .content-block-title Flat Buttons
    .content-block
      p.buttons-row
        a(href="#").button Button
        a(href="#").button Button
        a(href="#").button Button
      p.buttons-row
        a(href="#").button Button
        a(href="#").button Button
    .content-block-title Raised Buttons
    .content-block
      p.buttons-row
        a(href="#").button.button-raised Button
        a(href="#").button.button-raised Button
        a(href="#").button.button-raised Button
    .content-block-title Raised Fill Buttons
    .content-block
      p.buttons-row
        a(href="#").button.button-fill.button-raised Button
        a(href="#").button.button-fill.button-raised Button
        a(href="#").button.button-fill.button-raised Button
    .content-block-title Color Buttons
    .content-block
      p.buttons-row
        a(href="#").button.color-red Red
        a(href="#").button.color-green Green
        a(href="#").button.color-blue Blue
      p.buttons-row
        a(href="#").button.color-orange Orange
        a(href="#").button.color-pink Pink
        a(href="#").button.color-purple Purple
      p.buttons-row
        a(href="#").button.color-cyan Cyan
        a(href="#").button.color-teal Teal
        a(href="#").button.color-indigo Indigo
    .content-block-title Color Fill Buttons
    .content-block
      p.buttons-row
        a(href="#").button.button-fill.color-red Red
        a(href="#").button.button-fill.color-green Green
        a(href="#").button.button-fill.color-blue Blue
      p.buttons-row
        a(href="#").button.button-fill.color-orange Orange
        a(href="#").button.button-fill.color-pink Pink
        a(href="#").button.button-fill.color-purple Purple
      p.buttons-row
        a(href="#").button.button-fill.color-cyan Cyan
        a(href="#").button.button-fill.color-teal Teal
        a(href="#").button.button-fill.color-indigo Indigo
    .content-block-title Color Raised Fill Buttons
    .content-block
      p.buttons-row
        a(href="#").button.button-raised.button-fill.color-red Red
        a(href="#").button.button-raised.button-fill.color-green Green
        a(href="#").button.button-raised.button-fill.color-blue Blue
      p.buttons-row
        a(href="#").button.button-raised.button-fill.color-orange Orange
        a(href="#").button.button-raised.button-fill.color-pink Pink
        a(href="#").button.button-raised.button-fill.color-purple Purple
      p.buttons-row
        a(href="#").button.button-raised.button-fill.color-cyan Cyan
        a(href="#").button.button-raised.button-fill.color-teal Teal
        a(href="#").button.button-raised.button-fill.color-indigo Indigo
    .content-block-title Color Ripple Buttons
    .content-block
      p.buttons-row
        a(href="#").button.ripple-blue Button
        a(href="#").button.color-green.ripple-pink Button
        a(href="#").button.color-teal.ripple-amber Button
      p.buttons-row
        a(href="#").button.button-raised.button-fill.color-orange.ripple-green Button
        a(href="#").button.button-raised.button-fill.color-pink.ripple-blue Button
        a(href="#").button.button-raised.button-fill.color-purple.ripple-yellow Button
    .content-block-title Big Buttons
    .content-block
      p.buttons-row
        a(href="#").button.button-big.color-green Button
        a(href="#").button.button-big.color-red Button
      p.buttons-row
        a(href="#").button.button-big.button-fill.button-raised.color-pink Button
        a(href="#").button.button-big.button-fill.button-raised.color-teal Button
    .content-block-title List Block Buttons
    .card
      .list-block
        ul
          li
            a(href="#").list-button.item-link List Button 1
          li
            a(href="#").list-button.item-link List Button 2
          li
            a(href="#").list-button.item-link List Button 2
    