.page(data-page="infinite-scroll")
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Infinite Scroll
      .right
        a(href="#").open-panel.link.icon-only
          i.icon.icon-bars
  .page-content.infinite-scroll(data-distance="50")
    .content-block-title Scroll bottom
    .list-block
      ul
        - for (i = 1; i <= 20; i++)
          li.item-content
            .item-inner
              .item-title Item #{i}
