.page(data-page="login-screen-embedded")
  .page-content.login-screen-content
    .login-screen-title Framework7
    form
      .list-block.inputs-list
        ul
          li.item-content
            .item-inner 
              .item-title.label Username
              .item-input
                input(type="text", name="username", placeholder="Your username")
          li.item-content
            .item-inner 
              .item-title.label Password
              .item-input
                input(type="password", name="password", placeholder="Your password")
      .content-block
        a(href="#").button.button-big Sign In
      .content-block
        .list-block-label Some text about login information.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.