.page(data-page="login-screen")
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Login Screen
      .right
        a(href="#").link.open-panel.icon-only
          i.icon.icon-bars
  .page-content
    .content-block
      p Framework7 comes with ready to use Login Screen layout. It could be used inside of page or inside of popup (Embedded) or as a standalone overlay:
    .content-block.row
      .col-50
        a(href="login-screen-embedded.html").button.button-raised Embedded Into Page
      .col-50
        a(href="#").button.button-raised.open-login-screen As Overlay