.page(data-page="searchbar").toolbar-fixed
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Search Bar
      .right
        a(href="#").link.open-panel.icon-only
          i.icon.icon-bars
  form.searchbar.searchbar-init(data-search-list=".search-here", data-search-in=".item-title")
    .searchbar-input
      input(type="search", placeholder="Search")
      a(href="#").searchbar-clear
  .searchbar-overlay
  .page-content
    .list-block.searchbar-not-found
      ul
        li.item-content
          .item-inner
            .item-title Nothing found
    .list-block.search-here.searchbar-found
      ul
        li.item-content
          .item-inner 
            .item-title Acura
        li.item-content
          .item-inner 
            .item-title Audi
        li.item-content
          .item-inner 
            .item-title BMW
        li.item-content
          .item-inner 
            .item-title Cadillac 
        li.item-content
          .item-inner 
            .item-title Chevrolet 
        li.item-content
          .item-inner 
            .item-title Chrysler 
        li.item-content
          .item-inner 
            .item-title Dodge 
        li.item-content
          .item-inner 
            .item-title Ferrari 
        li.item-content
          .item-inner 
            .item-title Ford 
        li.item-content
          .item-inner 
            .item-title GMC 
        li.item-content
          .item-inner 
            .item-title Honda
        li.item-content
          .item-inner 
            .item-title Hummer
        li.item-content
          .item-inner 
            .item-title Hyundai
        li.item-content
          .item-inner 
            .item-title Infiniti 
        li.item-content
          .item-inner 
            .item-title Isuzu 
        li.item-content
          .item-inner 
            .item-title Jaguar 
        li.item-content
          .item-inner 
            .item-title Jeep 
        li.item-content
          .item-inner 
            .item-title Kia
        li.item-content
          .item-inner 
            .item-title Lamborghini 
        li.item-content
          .item-inner 
            .item-title Land Rover
        li.item-content
          .item-inner 
            .item-title Lexus 
        li.item-content
          .item-inner 
            .item-title Lincoln 
        li.item-content
          .item-inner 
            .item-title Lotus 
        li.item-content
          .item-inner 
            .item-title Mazda
        li.item-content
          .item-inner 
            .item-title Mercedes-Benz
        li.item-content
          .item-inner 
            .item-title Mercury 
        li.item-content
          .item-inner 
            .item-title Mitsubishi
        li.item-content
          .item-inner 
            .item-title Nissan 
        li.item-content
          .item-inner 
            .item-title Oldsmobile 
        li.item-content
          .item-inner 
            .item-title Peugeot 
        li.item-content
          .item-inner 
            .item-title Pontiac 
        li.item-content
          .item-inner 
            .item-title Porsche
        li.item-content
          .item-inner 
            .item-title Regal
        li.item-content
          .item-inner 
            .item-title Saab 
        li.item-content
          .item-inner 
            .item-title Saturn 
        li.item-content
          .item-inner 
            .item-title Subaru 
        li.item-content
          .item-inner 
            .item-title Suzuki 
        li.item-content
          .item-inner 
            .item-title Toyota
        li.item-content
          .item-inner 
            .item-title Volkswagen
        li.item-content
          .item-inner 
            .item-title Volvo