.page(data-page="swiper")
  .navbar
    .navbar-inner
      .left
        a(href="index.html").back.link.icon-only
          i.icon.icon-back
      .center Swiper Slider
      .right
        a(href="#").open-panel.link.icon-only
          i.icon.icon-bars
  .page-content
    .content-block
      p Framework7 comes with powerful and most modern touch slider ever - <a href="http://idangero.us/swiper" class="external" target="_blank">Swiper Slider</a> with super flexible configuration and lot, lot of features. Just check the following demos:
    .content-block-title Swiper Examples
    .list-block
      ul
        li
          a(href="swiper-horizontal.html").item-link.item-content
            .item-inner
              .item-title Swiper Horizontal
        li
          a(href="swiper-vertical.html").item-link.item-content
            .item-inner
              .item-title Swiper Vertical
        li
          a(href="swiper-space-between.html").item-link.item-content
            .item-inner
              .item-title Space Between Slides
        li
          a(href="swiper-multiple.html").item-link.item-content
            .item-inner
              .item-title Multiple Per Page
        li
          a(href="swiper-nested.html").item-link.item-content
            .item-inner
              .item-title Nested Swipers
        li
          a(href="swiper-loop.html").item-link.item-content
            .item-inner
              .item-title Infinite Loop Mode
        li
          a(href="swiper-3d-cube.html").item-link.item-content
            .item-inner
              .item-title 3D Cube Effect
        li
          a(href="swiper-3d-coverflow.html").item-link.item-content
            .item-inner
              .item-title 3D Coverflow Effect
        li
          a(href="swiper-3d-flip.html").item-link.item-content
            .item-inner
              .item-title 3D Flip Effect
        li
          a(href="swiper-fade.html").item-link.item-content
            .item-inner
              .item-title Fade Effect
        li
          a(href="swiper-scrollbar.html").item-link.item-content
            .item-inner
              .item-title With Scrollbar
        li
          a(href="swiper-gallery.html").item-link.item-content
            .item-inner
              .item-title Two Way Control Gallery
        li
          a(href="swiper-custom.html").item-link.item-content
            .item-inner
              .item-title Custom Controls
        li
          a(href="swiper-parallax.html").item-link.item-content
            .item-inner
              .item-title Parallax
        li
          a(href="swiper-pagination-progress.html").item-link.item-content
            .item-inner
              .item-title Progress Pagination
        li
          a(href="swiper-pagination-fraction.html").item-link.item-content
            .item-inner
              .item-title Fraction Pagination
        li
          a(href="swiper-zoom.html").item-link.item-content
            .item-inner
              .item-title Zoom
