.page(data-page="swiper-horizontal")
  .navbar
    .navbar-inner
      .left
        a(href="swiper.html").back.link.icon-only
          i.icon.icon-back
      .center Slider Horizontal
      .right
        a(href="#").open-panel.link.icon-only
          i.icon.icon-bars
  .page-content
    .swiper-container.swiper-init.ks-parallax-slider(data-pagination=".swiper-pagination", data-parallax="true", data-nextButton=".swiper-button-next", data-prevButton=".swiper-button-prev", data-speed="600")
      .swiper-parallax-bg(data-swiper-parallax="-23%", style="background-image:url(http://lorempixel.com/900/600/nightlife/2/)")
      .swiper-pagination.color-white
      .swiper-button-next.color-white
      .swiper-button-prev.color-white
      .swiper-wrapper
        .swiper-slide
          .swiper-slide-title(data-swiper-parallax="-100") Slide 1
          .swiper-slide-subtitle(data-swiper-parallax="-200") Subtitle
          .swiper-slide-text(data-swiper-parallax="-300")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.
        .swiper-slide
          .swiper-slide-title(data-swiper-parallax="-100") Slide 2
          .swiper-slide-subtitle(data-swiper-parallax="-200") Subtitle
          .swiper-slide-text(data-swiper-parallax="-300")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.
        .swiper-slide
          .swiper-slide-title(data-swiper-parallax="-100") Slide 3
          .swiper-slide-subtitle(data-swiper-parallax="-200") Subtitle
          .swiper-slide-text(data-swiper-parallax="-300")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.


    