.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Navbars And Toolbars
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="navbars-toolbars")
    .page-content
      .list-block
        ul
          li
            a(href="bars-deep-navbar.html").item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Deep Dynamic Navbar
          li
            a(href="bars-hide.html").item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Hide Navbar & Toolbar
          li
            a(href="bars-tabbar.html").item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Tab Bar
          li
            a(href="bars-tabbar-labels.html").item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Tab Bar With Labels
          li
            a(href="bars-hide-on-scroll.html").item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Hide Bars On Scroll
          li
            a(href="bars-sub-navbar.html").item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Sub Navbar
