.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link Navbars
    .center.sliding Deep Navbar
    .right.sliding
      a(href="bars-deep-navbar-2.html").link Deep 2
.pages.navbar-through
  .page(data-page="deep-navbar")
    .page-content
      .content-block
        .content-block-inner
          p This demo demonstrates Framework7 exclusive behavior of dynamic sliding navigation bars. Just click the button below and look how navbar links will change. And don't forget to try swipe-back gesture on next pages:
        p
          a.button(href="bars-deep-navbar-2.html") Go to page 2
        