.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Infinite Scroll
    .right
      a(href="#").open-panel.link.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="infinite-scroll")
    .page-content.infinite-scroll(data-distance="50")
      .content-block-title Scroll bottom
      .list-block
        ul
          - for (i = 1; i <= 20; i++)
            li.item-content
              .item-inner
                .item-title Item #{i}
