.pages.navbar-through
  .page(data-page="login-screen-embedded").no-toolbar.no-navbar.no-swipeback
    .page-content.login-screen-content
      .login-screen-title Framework7
      form
        .list-block
          ul
            li.item-content
              .item-inner 
                .item-title.label Username
                .item-input
                  input(type="text", name="username", placeholder="Your username")
            li.item-content
              .item-inner 
                .item-title.label Password
                .item-input
                  input(type="password", name="password", placeholder="Your password")
        .list-block
          ul
            li
              a(href="#").item-link.list-button Sign In
          .list-block-label Some text about login information.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.