.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Picker
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="pickers")
    .page-content
      .content-block
          p Picker is a powerful component that allows you to create custom overlay pickers which looks like iOS native picker.
          p Picker could be used as inline component or as overlay. Overlay Picker will be automatically converted to Popover on tablets (iPad).
      .content-block-title Picker with single value
      .list-block
        ul
          li
            .item-content
              .item-inner 
                .item-input
                  input(type="text", placeholder="Your iOS device", readonly)#ks-picker-device
      .content-block-title 2 values and 3d-rotate effect
      .list-block
        ul
          li
            .item-content
              .item-inner 
                .item-input
                  input(type="text", placeholder="Describe yourself", readonly)#ks-picker-describe
      .content-block-title Dependent values
      .list-block
        ul
          li
            .item-content
              .item-inner 
                .item-input
                  input(type="text", placeholder="Your car", readonly)#ks-picker-dependent
      .content-block-title Custom toolbar
      .list-block
        ul
          li
            .item-content
              .item-inner 
                .item-input
                  input(type="text", placeholder="Describe yourself", readonly)#ks-picker-custom-toolbar
      .content-block-title Inline Picker / Date-time
      .content-block
        .content-block-inner(style="padding:0; margin-right:-15px; width:auto")
          .list-block(style="margin:0")
            ul(style="border-top:none")
              li
                .item-content
                  .item-inner 
                    .item-input
                      input(type="text", placeholder="Date Time", readonly)#ks-picker-date
          #ks-picker-date-container
      