.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Tabs
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="tabs")
    .page-content
      .list-block
        ul
          li
            a(href="tabs-static.html").item-content.item-link
              .item-media
                i.icon.icon-f7
              .item-inner
                .item-title Static Tabs
          li
            a(href="tabs-animated.html").item-content.item-link
              .item-media
                i.icon.icon-f7
              .item-inner
                .item-title Animated Tabs
          li
            a(href="tabs-swipeable.html").item-content.item-link
              .item-media
                i.icon.icon-f7
              .item-inner
                .item-title Swipeable Tabs
                .item-after
                  span.badge.bg-green NEW