.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Horizontal Timeline
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="timeline-horizontal")
    .page-content
      .timeline.timeline-horizontal.col-33.tablet-20
        .timeline-item
          .timeline-item-date 21 <small>DEC</small>
          .timeline-item-content
            .timeline-item-inner
              .timeline-item-time 12:56
              .timeline-item-title Title 1
              .timeline-item-subtitle Subtitle 1
              .timeline-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
            .timeline-item-inner
              .timeline-item-time 13:15
              .timeline-item-title Title 2
              .timeline-item-subtitle Subtitle 2
              .timeline-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
            .timeline-item-inner
              .timeline-item-time 14:45
              .timeline-item-text Do something
            .timeline-item-inner
              .timeline-item-time 16:11
              .timeline-item-text Do something else
        .timeline-item
          .timeline-item-date 22 <small>DEC</small>
          .timeline-item-content Plain text goes here

        .timeline-item
          .timeline-item-date 23 <small>DEC</small>
          .timeline-item-content
            .card
              .card-header Card
              .card-content
                .card-content-inner Card Content
              .card-footer Card Footer
            .card
              .card-content
                .card-content-inner Another Card Content
        .timeline-item
          .timeline-item-date 24 <small>DEC</small>
          .timeline-item-content
            .list-block.inset
              ul
                li
                  a(href="#").item-content.item-link
                    .item-inner
                      .item-title Item 1
                li
                  a(href="#").item-content.item-link
                    .item-inner
                      .item-title Item 1
                li
                  a(href="#").item-content.item-link
                    .item-inner
                      .item-title Item 1
        .timeline-item
          .timeline-item-date 25 <small>DEC</small>
          .timeline-item-content
            .timeline-item-time 11:11
            .timeline-item-text Task 1
            .timeline-item-time 12:33
            .timeline-item-text Task 2
            .timeline-item-time 13:24
            .timeline-item-text Task 3
            .timeline-item-time 14:55
            .timeline-item-text Task 4
            .timeline-item-time 15:15
            .timeline-item-text Task 5
            .timeline-item-time 16:54
            .timeline-item-text Task 6
        .timeline-item
          .timeline-item-date 26 <small>DEC</small>
          .timeline-item-content
            .timeline-item-inner
              .timeline-item-time 11:11
              .timeline-item-text Task 1
            .timeline-item-inner
              .timeline-item-time 12:33
              .timeline-item-text Task 2
            .timeline-item-inner
              .timeline-item-time 13:24
              .timeline-item-text Task 3
            .timeline-item-inner
              .timeline-item-time 14:55
              .timeline-item-text Task 4
            .timeline-item-inner
              .timeline-item-time 15:15
              .timeline-item-text Task 5
            .timeline-item-inner
              .timeline-item-time 16:54
              .timeline-item-text Task 6
            