.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Vertical Timeline
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="timeline-vertical")
    .page-content
      .content-block-title Default
      .timeline
        .timeline-item
          .timeline-item-date 21 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Some text goes here
        .timeline-item
          .timeline-item-date 22 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Another text goes here
        .timeline-item
          .timeline-item-date 23 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat ipsam hic porro enim, accusamus perferendis, quas commodi alias quaerat eius nemo deleniti. Odio quasi quos quis iure, aperiam pariatur?
        .timeline-item
          .timeline-item-date 24 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner One more text here

      .content-block-title Side By Side
      .timeline.timeline-sides
        .timeline-item
          .timeline-item-date 21 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Some text goes here
        .timeline-item
          .timeline-item-date 22 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Another text goes here
        .timeline-item
          .timeline-item-date 23 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Just plain text
        .timeline-item
          .timeline-item-date 24 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner One more text here
      .content-block-title Only Tablet Side By Side
      .timeline.tablet-sides
        .timeline-item
          .timeline-item-date 21 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Some text goes here
        .timeline-item
          .timeline-item-date 22 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Another text goes here
        .timeline-item
          .timeline-item-date 23 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Just plain text
        .timeline-item
          .timeline-item-date 24 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner One more text here

      .content-block-title Forced Sides
      .timeline.timeline-sides
        .timeline-item.timeline-item-right
          .timeline-item-date 21 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Some text goes here
        .timeline-item.timeline-item-right
          .timeline-item-date 22 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Another text goes here
        .timeline-item.timeline-item-left
          .timeline-item-date 23 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner Just plain text
        .timeline-item.timeline-item-left
          .timeline-item-date 24 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner One more text here
      .content-block-title Rich Content
      .timeline
        .timeline-item
          .timeline-item-date 21 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner
              .timeline-item-time 12:56
              .timeline-item-title Item Title
              .timeline-item-subtitle Item Subtitle
              .timeline-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat ipsam hic porro enim, accusamus perferendis, quas commodi alias quaerat eius nemo deleniti. Odio quasi quos quis iure, aperiam pariatur?

              .timeline-item-time 15:07
              .timeline-item-title Item Title
              .timeline-item-subtitle Item Subtitle
              .timeline-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat ipsam hic porro enim, accusamus perferendis, quas commodi alias quaerat eius nemo deleniti. Odio quasi quos quis iure, aperiam pariatur?
        .timeline-item
          .timeline-item-date 22 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content
            .timeline-item-inner
              .timeline-item-time 12:56
              .timeline-item-title Item Title
              .timeline-item-subtitle Item Subtitle
              .timeline-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat ipsam hic porro enim, accusamus perferendis, quas commodi alias quaerat eius nemo deleniti. Odio quasi quos quis iure, aperiam pariatur?
            .timeline-item-inner
              .timeline-item-time 15:07
              .timeline-item-title Item Title
              .timeline-item-subtitle Item Subtitle
              .timeline-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat ipsam hic porro enim, accusamus perferendis, quas commodi alias quaerat eius nemo deleniti. Odio quasi quos quis iure, aperiam pariatur?
        .timeline-item
          .timeline-item-date 23 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content.card
            .card-header Card Header
            .card-content
              .card-content-inner Card Content
            .card-footer Card Footer
        .timeline-item
          .timeline-item-date 24 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content.list-block.inset
              ul
                li
                  a(href="#").item-content.item-link
                    .item-inner
                      .item-title Item 1
                li
                  a(href="#").item-content.item-link
                    .item-inner
                      .item-title Item 1
                li
                  a(href="#").item-content.item-link
                    .item-inner
                      .item-title Item 1
        .timeline-item
          .timeline-item-date 25 <small>DEC</small>
          .timeline-item-divider
          .timeline-item-content Plain text
      .content-block-title Inside Content Block
      .content-block
        .content-block-inner
          .timeline
            .timeline-item
              .timeline-item-date 21 <small>DEC</small>
              .timeline-item-divider
              .timeline-item-content
                .timeline-item-inner Some text goes here
            .timeline-item
              .timeline-item-date 22 <small>DEC</small>
              .timeline-item-divider
              .timeline-item-content
                .timeline-item-inner Another text goes here
            .timeline-item
              .timeline-item-date 23 <small>DEC</small>
              .timeline-item-divider
              .timeline-item-content
                .timeline-item-inner Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat ipsam hic porro enim, accusamus perferendis, quas commodi alias quaerat eius nemo deleniti. Odio quasi quos quis iure, aperiam pariatur?
            .timeline-item
              .timeline-item-date 24 <small>DEC</small>
              .timeline-item-divider
              .timeline-item-content
                .timeline-item-inner One more text here