.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Timeline
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="timeline")
    .page-content
      .content-block-title Default
      .timeline
        .timeline-item
          .timeline-date 21 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Some text goes here
        .timeline-item
          .timeline-date 22 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Another text goes here
        .timeline-item
          .timeline-date 23 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat ipsam hic porro enim, accusamus perferendis, quas commodi alias quaerat eius nemo deleniti. Odio quasi quos quis iure, aperiam pariatur?
        .timeline-item
          .timeline-date 24 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner One more text here

      .content-block-title Side By Side
      .timeline.timeline-sides
        .timeline-item
          .timeline-date 21 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Some text goes here
        .timeline-item
          .timeline-date 22 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Another text goes here
        .timeline-item
          .timeline-date 23 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Just plain text
        .timeline-item
          .timeline-date 24 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner One more text here
      .content-block-title Only Tablet Side By Side
      .timeline.tablet-sides
        .timeline-item
          .timeline-date 21 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Some text goes here
        .timeline-item
          .timeline-date 22 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Another text goes here
        .timeline-item
          .timeline-date 23 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Just plain text
        .timeline-item
          .timeline-date 24 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner One more text here

      .content-block-title Forced Sides
      .timeline.timeline-sides
        .timeline-item.timeline-item-right
          .timeline-date 21 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Some text goes here
        .timeline-item.timeline-item-right
          .timeline-date 22 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Another text goes here
        .timeline-item.timeline-item-left
          .timeline-date 23 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner Just plain text
        .timeline-item.timeline-item-left
          .timeline-date 24 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner One more text here
      .content-block-title Rich Content
      .timeline
        .timeline-item
          .timeline-date 21 DEC
          .timeline-divider
          .timeline-content
            .timeline-content-inner
              .timeline-title Item Title
              .timeline-subtitle Item Subtitle
              .timeline-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat ipsam hic porro enim, accusamus perferendis, quas commodi alias quaerat eius nemo deleniti. Odio quasi quos quis iure, aperiam pariatur?
        .timeline-item
          .timeline-date 22 DEC
          .timeline-divider
          .timeline-content.card
            .card-header Card Header
            .card-content
              .card-content-inner Card Content
            .card-footer Card Footer
        .timeline-item
          .timeline-date 23 DEC
          .timeline-divider
          .timeline-content.list-block.inset
              ul
                li
                  a(href="#").item-content.item-link
                    .item-inner
                      .item-title Item 1
                li
                  a(href="#").item-content.item-link
                    .item-inner
                      .item-title Item 1
                li
                  a(href="#").item-content.item-link
                    .item-inner
                      .item-title Item 1
        .timeline-item
          .timeline-date 24 DEC
          .timeline-divider
          .timeline-content Plain text
      .content-block-title In Content Block
      .content-block
        .content-block-inner
          .timeline
            .timeline-item
              .timeline-date 21 DEC
              .timeline-divider
              .timeline-content
                .timeline-content-inner Some text goes here
            .timeline-item
              .timeline-date 22 DEC
              .timeline-divider
              .timeline-content
                .timeline-content-inner Another text goes here
            .timeline-item
              .timeline-date 23 DEC
              .timeline-divider
              .timeline-content
                .timeline-content-inner Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat ipsam hic porro enim, accusamus perferendis, quas commodi alias quaerat eius nemo deleniti. Odio quasi quos quis iure, aperiam pariatur?
            .timeline-item
              .timeline-date 24 DEC
              .timeline-divider
              .timeline-content
                .timeline-content-inner One more text here