.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Timeline
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="timeline")
    .page-content
      .list-block
        ul
          li
            a(href="timeline-vertical.html").item-content.item-link
              .item-inner
                .item-title Vertical Timeline
          li
            a(href="timeline-horizontal.html").item-content.item-link
              .item-inner
                .item-title Horizontal Timeline
          li
            a(href="timeline-horizontal-calendar.html").item-content.item-link
              .item-inner
                .item-title Calendar Timeline
