.panel {
  background: #222;
  color: #dddddd;
}
.panel-left .content-block,
.panel-left .content-block-title {
  color: #dddddd;
}
.panel-left .list-block ul {
  background: none;
}
.panel-left .list-block ul,
.panel-left .list-block .inner {
  border-color: rgba(255, 255, 255, 0.1);
}
.panel-left .list-block a {
  color: inherit;
}
.panel-left .list-block a:active {
  background: #000;
}
.panel-right .content-block,
.panel-right .content-block-title,
.panel-right .list-panel-title {
  color: #dddddd;
}
.panel-right .navbar {
  background: #000;
  border-bottom: 1px solid #333;
}
.panel-right .navbar .center {
  color: #007aff;
}
.panel-right .navbar a.link {
  color: #fff;
}
.panel-right .page {
  background: #222;
}
.panel-right .list-block ul {
  background: none;
}
.panel-right .list-block ul,
.panel-right .list-block .inner {
  border-color: rgba(255, 255, 255, 0.1);
}
.panel-right .list-block a {
  color: inherit;
}
.panel-right .list-block a:active {
  background: #000;
}
i.icon-f7 {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-f7.png);
}
i.icon-name {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-name.png);
}
i.icon-password {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-password.png);
}
i.icon-email {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-email.png);
}
i.icon-birthday {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-birthday.png);
}
i.icon-tel {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-tel.png);
}
i.icon-gender {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-gender.png);
}
i.icon-toggle {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-toggle.png);
}
i.icon-about {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-about.png);
}
.popover {
  width: 280px;
}
