.ios {
  /*
  --f7-progressbar-progress-color: var(--f7-theme-color);
  */
  --f7-progressbar-bg-color: #b6b6b6;
  --f7-progressbar-height: 2px;
  --f7-progressbar-border-radius: 2px;
}
.md {
  /*
  --f7-progressbar-progress-color: var(--f7-theme-color);
  --f7-progressbar-bg-color: rgba(var(--f7-theme-color-rgb), 0.5);
  */
  --f7-progressbar-height: 4px;
  --f7-progressbar-border-radius: 0px;
}