.popover {
  width: 200px;
}
.ks-grid div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
}
.ks-preloaders {
  text-align: center;
}
.ks-preloader-big {
  width: 42px;
  height: 42px;
}
.statusbar-overlay {
  background: #000;
}
.statusbar-overlay.with-panel-left {
  background: #222426;
}
.statusbar-overlay.with-panel-right {
  background: #131313;
}
.page[data-page="tabbar"] .tabbar,
.page[data-page="tabbar-labels"] .tabbar,
.page[data-page="messages"] .tabbar,
.page[data-page="tabbar"] .toolbar,
.page[data-page="tabbar-labels"] .toolbar,
.page[data-page="messages"] .toolbar {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
}
i.ks-tabbar-icon-1 {
  width: 24px;
  height: 24px;
  opacity: 0.7;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg fill='#fff' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
.active i.ks-tabbar-icon-1 {
  opacity: 1;
}
i.ks-tabbar-icon-2 {
  width: 24px;
  height: 24px;
  opacity: 0.7;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg fill='#fff' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
.active i.ks-tabbar-icon-2 {
  opacity: 1;
}
i.ks-tabbar-icon-3 {
  width: 24px;
  height: 24px;
  opacity: 0.7;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg fill='#FFFFFF' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h24v24H0z' fill='none'/><path d='M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z'/></svg>");
}
.active i.ks-tabbar-icon-3 {
  opacity: 1;
}
.ks-demo-slider {
  width: 100%;
  height: 100%;
}
.ks-demo-slider,
.ks-carousel-slider {
  font-size: 25px;
  font-weight: 300;
}
.ks-demo-slider .swiper-slide,
.ks-carousel-slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
}
.ks-carousel-slider .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
}
.ks-carousel-slider.ks-carousel-slider-auto .swiper-slide {
  width: 85%;
}
.ks-carousel-slider.ks-carousel-slider-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.ks-carousel-slider.ks-carousel-slider-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}
.page[data-page="swiper-multiple"] .swiper-container {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
}
.ks-slider-custom {
  height: 100%;
}
.ks-slider-custom .swiper-container {
  background: #000;
  height: 100%;
}
.ks-slider-custom .swiper-slide {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.ks-slider-custom .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  border-radius: 0;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  position: relative;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.ks-slider-custom .swiper-pagination .swiper-pagination-bullet-active {
  z-index: 1;
  border: 1px solid #007aff;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}
.ks-cube-slider {
  width: 80%;
  height: 70%;
  top: 15%;
}
.ks-coverflow-slider {
  height: 60%;
  top: 20%;
}
.ks-coverflow-slider .swiper-slide {
  width: 65%;
}
.ks-cube-slider .swiper-slide,
.ks-coverflow-slider .swiper-slide {
  background-size: cover;
  color: #fff;
  -webkit-backface-visibility: hidden;
}
.ks-fade-slider .swiper-slide {
  background-size: cover;
  background-position: center;
}
.page[data-page="swiper-gallery"] {
  background: #000;
}
.ks-swiper-gallery-top {
  height: 70%;
}
.ks-swiper-gallery-thumbs {
  margin-top: 10px;
  height: 20%;
  height: -webkit-calc(30% - 20px);
  height: -moz-calc(30% - 20px);
  height: -ms-calc(30% - 20px);
  height: calc(30% - 20px);
}
.ks-swiper-gallery-thumbs .swiper-slide {
  width: 25%;
}
.ks-swiper-gallery-thumbs .swiper-slide-pic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  -webkit-transition: 300ms;
}
.ks-swiper-gallery-thumbs .swiper-slide-active .swiper-slide-pic {
  opacity: 1;
}
.ks-swiper-gallery-top .swiper-slide,
.ks-swiper-gallery-thumbs .swiper-slide,
.ks-swiper-gallery-top .swiper-slide-pic,
.ks-swiper-gallery-thumbs .swiper-slide-pic {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.ks-parallax-slider {
  height: 100%;
}
.ks-parallax-slider .swiper-parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.ks-parallax-slider .swiper-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  color: #fff;
}
.ks-parallax-slider .swiper-slide-title {
  font-size: 41px;
  font-weight: 300;
}
.ks-parallax-slider .swiper-slide-subtitle {
  font-size: 21px;
}
.ks-parallax-slider .swiper-slide-text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.page[data-page="virtual-list"] .virtual-list li {
  height: 73px;
}
.custom-accordion {
  padding-left: 0;
  padding-right: 0;
}
.custom-accordion .accordion-item-toggle {
  padding: 0px 15px;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.custom-accordion .accordion-item-toggle:active {
  background: rgba(0, 0, 0, 0.15);
}
.custom-accordion .accordion-item-toggle span {
  display: inline-block;
  margin-left: 15px;
}
html[dir="rtl"] .custom-accordion .accordion-item-toggle span {
  margin-left: 0;
  margin-right: 15px;
}
.custom-accordion .accordion-item:last-child .accordion-item-toggle {
  border-bottom: none;
}
.custom-accordion .icon-ks-plus,
.custom-accordion .icon-ks-minus {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #000;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
}
.custom-accordion .icon-ks-minus {
  display: none;
}
.custom-accordion .accordion-item-expanded .icon-ks-minus {
  display: inline-block;
}
.custom-accordion .accordion-item-expanded .icon-ks-plus {
  display: none;
}
.custom-accordion .accordion-item-content {
  padding: 0px 15px;
}
#ks-picker-date-container .picker-item {
  color: #999;
}
#ks-picker-date-container .picker-selected {
  color: #000;
}
.layout-dark #ks-picker-date-container .picker-selected {
  color: #fff;
}
@media (max-width: 767px) {
  #ks-picker-date-container .picker-items {
    font-size: 21px;
  }
  #ks-picker-date-container .picker-item {
    height: 36px;
    line-height: 36px;
    padding: 0 6px;
  }
}
#ks-calendar-inline-container .picker-calendar {
  height: 280px;
}
img.ks-demo-lazy {
  display: block;
  width: 100%;
  height: auto;
}
div.ks-demo-lazy {
  background: #aaa;
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  height: 60vw;
}
.ks-layout-theme {
  height: 44px;
  cursor: pointer;
}
.ks-layout-theme.ks-layout-default {
  background: #f3f3f3;
}
.ks-layout-theme.ks-layout-dark {
  background: #000;
}
.ks-layout-theme.ks-layout-white {
  background: #fff;
}
.ks-color-theme {
  height: 44px;
  cursor: pointer;
  margin-bottom: 10px;
}
.ks-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
}
.ks-facebook-card .card-header {
  display: block;
  padding: 10px;
}
.ks-facebook-card .ks-facebook-avatar {
  float: left;
}
.ks-facebook-card .ks-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}
.ks-facebook-card .ks-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.ks-facebook-card .card-footer {
  background: #fafafa;
}
.ks-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.ks-facebook-card .card-content img {
  display: block;
}
.ks-facebook-card .card-content-inner {
  padding: 15px 10px;
}
