.ios-vars({
  --f7-typography-padding: 15px;
  --f7-typography-margin: 15px;
});
.md-vars({
  --f7-typography-padding: 16px;
  --f7-typography-margin: 16px;
});
.aurora-vars({
  --f7-typography-padding: 15px;
  --f7-typography-margin: 15px;
});