.ios {
  .range-knob-label {
    margin-bottom: 6px;
    transform: translateX(-50%) translateY(100%) scale(0);
  }
  .range-knob-active-state .range-knob-label {
    transform: translateX(-50%) translateY(0%) scale(1);
  }
}
