.ios {
  .autocomplete-dropdown {
    .autocomplete-preloader {
      .ltr({ right: 16px; });
      .rtl({ left: 16px; });
      margin-bottom: 12px;
    }
  }
  .searchbar-input-wrap .autocomplete-dropdown {
    .ios-glass();
    margin-top: 16px;
    border-radius: 22px;
    .autocomplete-dropdown-inner {
      padding-top: 0;
    }
    li:first-child {
      position: relative;
      overflow: hidden;
      border-radius: 22px 22px 0 0;
    }
    li:last-child {
      border-radius: 0 0 22px 22px;
    }
  }
}
