.ios {
  .autocomplete-dropdown {
    .autocomplete-preloader {
      .ltr({ right: 15px; });
      .rtl({ left: 15px; });
      margin-bottom: 12px;
    }
  }
  .searchbar-input-wrap .autocomplete-dropdown {
    margin-top: calc(-1 * var(--f7-searchbar-input-height));
    top: 100%;
    z-index: 20;
    .autocomplete-dropdown-inner {
      padding-top: var(--f7-searchbar-input-height);
    }
  }
}
